
.fullwidth-case-after {
    padding-bottom: 240px;
    &--start-billogram {
        // padding-bottom: 380px;
    }
}

.case {
    padding: 50px 0;
    display: block;

    &__image {
        display: block;
        margin: 30px auto 0;
    }

    &__headline  {
        font-size: 20px;
        padding: 20px 0 10px;
        margin: 0;
        text-transform: uppercase;
        @include media-query(palm){
          font-size: 12px;
        }
    }
    &__title {
        font-size: 18px;
        padding: 0;
        margin: 0;
        @extend .epsilon;
        color: #ffffff;
        @include media-query(palm){
          font-size: 14px;
        }
    }
    &__ingress {
        color: #ffffff;
        padding: 0 0 10px;
        @include arrow(bottom, center, #ffffff)
    }

    &__cta {
        margin: 20px 0 0;
        @include btnColors(#333333, white);
    }

    .btn {
        border-color: #333;
    }

    &--fullwidth {
        text-align: center;
        .container {
            margin-top: -170px;
        }
        &--billogram {
            .container {
                margin-top: -300px;

            }
        }
        .case__title {
          color: #333;
        }

        &--billogram {
            .case__image {
                width: 320px;
            }
        }
        &--samsung {
            .case__image {
                width: 380px;
            }
        }

    }
    &--thin {
      padding: 0;
      position: relative;
      padding: 0;
      text-align: left;
      border-bottom: 5px #d8d8d8 solid;

      .container {
        position: relative;
        margin-top: 0;
        height: 153px;
        z-index: 10;
      }

      .case__headline {
        @extend .gamma;
        color: inherit;
        padding: 40px 0 0;
        margin: 0;
      }

      .case__image {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      &:hover {
        color: white !important;
        background-color: #000;
      }

      &--build {
        background: #2466bd;
        color:#fff;
        border-bottom:0;
        @include transition (background-color 1000ms ease-in 300ms);
        .spaceman {
          top: 40px;
          height: 80px;
          position: absolute;
          z-index: 5;
          right: -120px;
        }

        &:hover .spaceman {
          @include animation(spaceman 12s linear 1000ms infinite);
        }
      } // &--build

      &--billogram {
        background: #6abbb8;
        color: white;
        border-bottom: 0;
      }

    } // &--thin

}
