
.main-footer {
    background: $color-proddev-pink;
    padding: 40px 0;
    color: #fff;
    margin: 0;

    @extend .epsilon;

    @include media-query(palm) {
        font-size: $palm-h3-size;
    }

    &__title {
        a {
            display: block;
        }

        svg {
            height: 35px;
            width: auto;
            fill: white;
        }

        display: inline-block;
        vertical-align: middle;
        line-height: 1;
    }

    &__links {
        text-align: right;
        text-transform: uppercase;

        display: inline-block;
        vertical-align: middle;

        &--right {
            float: right;
        }

    }

    &__link {
        display: inline-block;
        margin: 0 20px;

        line-height: 40px;

        &:hover {
            text-decoration: underline;
        }

        &--bordered {
            @extend .btn;
            @include btnColors(white, $color-proddev-pink);
            padding: 0 1em;
            line-height: 36px;

            &:hover {
                text-decoration: none;
            }
        }


    }
}
