
.main-footer {
    background: $color-proddev-pink;
    padding: 40px 0;
    color: #fff;
    margin: 0;

    @extend .epsilon;
    @include media-query(palm){
        font-size: 9px;
        padding: 10px 0;
    }

    &__title {
        a {
            display: block;
        }

        svg {
            height: 35px;
            width: auto;
            fill: white;
        }

        display: inline-block;
        vertical-align: middle;
        line-height: 1;

        @include media-query(palm){
            display: none;
        }
    }

    &__links {
        text-align: right;
        text-transform: uppercase;

        display: inline-block;
        vertical-align: middle;

        @include media-query(palm){
            text-align: center;
        }

        &--right {
            float: right;
        }

    }

    &__link {
        display: inline-block;
        margin: 0 20px;

        line-height: 40px;

        &:hover {
            text-decoration: underline;
        }

        @media only screen and (max-width: 640px) {
            margin: 0 5px;
            font-size: 13px;
        }

        @include media-query(palm) {
            font-size: 10px;
        }

        &--bordered {
            @extend .btn;
            padding: 0 15px;
            @include btnColors(white, $color-proddev-pink);

            line-height: 36px;

            &:hover {
                text-decoration: none;
            }
            @include media-query(palm){
                padding: 0 5px;
                font-size: 10px;
            }
        }


    }
}
