.main-header {
    @extend .text--center;
    width: 100%;
    background: #d91853 no-repeat top center;
    height: 80vh;
    padding: 0;
    background-size: cover;
    display: table;
    color: #fff;
    &__content {
        display: table-cell;
        vertical-align: middle;
    }

}
