@mixin helper-setup($namespace: "") {
    .#{$namespace}hidden     { display: none !important; }
    .#{$namespace}invisible  { visibility: hidden !important; }
}

@include helper-setup();

@include media-query(palm){
    @include helper-setup("palm-");
}

@include media-query(lap){
    @include helper-setup("lap-");
}

@include media-query(lap-and-up){
    @include helper-setup("lap-and-up-");
}

@include media-query(portable){
    @include helper-setup("portable-");
}

@include media-query(desk){
    @include helper-setup("desk-");
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    &--tight {
        max-width: 720px
    }

}


.uppercase {
    text-transform: uppercase;
}
.illustration-wrapper {
    position: relative;
    img {
        max-width: none;
    }
}




.color {
    &--pink {
        color: $color-proddev-pink;
    }
    &--blue {
        color: $color-webprod-blue;
    }
    &--orange {
        color: $color-labs-orange;
    }
}
.bgcolor {
    &--pink {
        background-color: $color-proddev-pink;
    }
    &--blue {
        background-color: $color-webprod-blue;
    }
    &--orange {
        background-color: $color-labs-orange;
    }
}

.btn {
    text-transform: uppercase;
    border: 2px white solid;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 10px;
    @include media-query(palm){
        font-size: 12px;
        letter-spacing: 1px;
        margin: 5px;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    &--large {
        line-height: 3;
    }
    &--nomargin {
        margin: 0;
        &--left {
            margin-left: 0;
        }
    }
    @include transition(all 250ms ease);
    &:hover {
        background-color: white;
        color: black;
    }
    @include transform-origin(center center);
    &:active {
        @include transform(scale(0.95));
    }
}



.beta, .gamma, .delta, .epsilon, .zeta {
    color: #666;
}

.alpha {
    color: #252525;
}
.epsilon {
    color: #999;
    padding: 10px 0;
    letter-spacing: 2px;
}
.delta {
    line-height: 1.5;
}
.text {
    &--dark {
        .beta, .gamma, .delta, .epsilon, .zeta {
            color: #666;
        }

        .alpha {
            color: #252525;
        }
        .epsilon {
            color: #999;
        }
    }

    &--light {
        color: #ffffff;
        .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
            color: #fff;
        }
    }
}


.blocklink {
    @extend .gamma;
    height: 300px;
    line-height: 300px;
    @include media-query(palm){
        height: 140px;
        line-height: 140px;
        font-size: 24px;
    }
    color: #fff;
    background: #252525;
    text-align: center;
    width: 100%;
    display: block;
    &--work {
        background: #252525 url(/img/work-texture.jpg) no-repeat center center;
        background-size: cover;
    }
}

.text-wrapper {
    max-width: 80%;
    @include media-query(palm){
        max-width: 100%;
    }
    margin-left: auto;
    margin-right: auto;
}






