.uppercase {
    text-transform: uppercase;
}
.illustration-wrapper {
    position: relative;
    img {
        max-width: none;
    }
}

.color {
    &--pink {
        color: $color-proddev-pink;
    }
    &--blue {
        color: $color-webprod-blue;
    }
    &--orange {
        color: $color-labs-orange;
    }
}
.bgcolor {
    &--pink {
        background-color: $color-proddev-pink;
    }
    &--blue {
        background-color: $color-webprod-blue;
    }
    &--orange {
        background-color: $color-labs-orange;
    }
}

.btn {
    text-transform: uppercase;
    border: 2px white solid;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 10px;
    &--large {
        line-height: 3;
    }
    &--nomargin {
        margin: 0;
        &--left {
            margin-left: 0;
        }
    }
    @include transition(all 250ms ease);
    &:hover {
        background-color: white;
        color: black;
    }
    @include transform-origin(center center);
    &:active {
        @include transform(scale(0.95));
    }
}



.beta, .gamma, .delta, .epsilon, .zeta {
    color: #666;
}

.alpha {
    color: #252525;
}
.epsilon {
    color: #999;
    padding: 10px 0;
    letter-spacing: 2px;
}
.delta {
    line-height: 1.5;
}
.text {
    &--dark {
        .beta, .gamma, .delta, .epsilon, .zeta {
            color: #666;
        }

        .alpha {
            color: #252525;
        }
        .epsilon {
            color: #999;
        }
    }

    &--light {
        color: #ffffff;
        .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
            color: #fff;
        }
    }
}


.blocklink {
    height: 300px;
    color: #fff;
    background: #252525;
    line-height: 300px;
    text-align: center;
    width: 100%;
    display: block;
    @extend .gamma;
    &--work {
        background: #252525 url(/img/work-texture.jpg) no-repeat center center;
        background-size: cover;
    }
}

.text-wrapper {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}






