@include keyframes(spaceman) {
  0% {
    opacity:1;
    @include transform(translateX(0) rotate(0deg));
  }
  25% {
    @include transform(translateX(-1500%) rotate(720deg));
  }
  50% {
    @include transform(translateX(-3000%) rotate(1440deg));
  }
  75% {
    @include transform(translateX(-4500%) rotate(2160deg));
    opacity:1;
  }
  99% {
    @include transform(translateX(-4500%) rotate(2160deg));
    opacity:0;
  }
}


@include keyframes(spin) {
  from{
    @include transform();
  }
  to {
    @include transform();
  }
}

@include keyframes(proddevprocess) {
    0% {
      stroke-dashoffset: 1221;
    }
    20% {
        stroke-dashoffset: 977;
    }
    40% {
        stroke-dashoffset: 733;
    }
    60% {
        stroke-dashoffset: 489;
    }
    80% {
        stroke-dashoffset: 245;
    }
    100% {
      stroke-dashoffset: 0;
    }
}

@include keyframes(processpoint) {
    0% {
        @include transform(scale(0.2));
    }
    80% {
        @include transform(scale(1.5));
    }
    100% {
        @include transform(scale(1));
    }
}