$main-menu-fontcolor: #f0f0f0;
html, body {
    min-height: 100%;
    position: relative;
}

html.menu-open {
    overflow: hidden;
}


.main-menu {
    @include user-select(none);
    @extend .text--center;
    text-transform: uppercase;
    font-family: "proxima-nova";
    font-weight: 700;
    font-size: 60px;
    color: $main-menu-fontcolor;

    padding-top: 120px;
    @include media-query(palm){
        padding-top: 60px;
    }

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    background: rgba(0,0,0,0);

    opacity: 1;
    display: block;

    @include transition(background 200ms ease, transform 400ms ease, z-index 10ms linear 400ms);


    @include transform-origin(right top);
    @include transform(skew(-90deg));

    ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__grid {
        margin: 0 auto;
        max-width: 1000px;
        width: 90%;
        opacity: 0;
        // @include transform-origin(right top);
        // @include transform(skew(90deg));
        // @include transition(transform 400ms ease);
        @include transition(none);
    }

    &--expanded {

        // @include transition(opacity 200ms ease, transform 100ms ease);
        background: rgba(0,0,0,1);

        z-index: 1000;
        opacity: 1;
        height: 100%;

        @include transition(background 200ms ease, transform 400ms ease, z-index 10ms linear 0ms);

        @include transform(skew(0deg));
        .main-menu__grid {
            //opacity: 1;

            //@include transform(skew(0deg));

            padding-bottom: 120px;
            @include media-query(palm){
                padding-bottom: 240px;
            }
        }
    }

    &--visible-content {
        pointer-events: auto;
        overflow: auto;

        .main-menu__grid {
            @include transition(opacity 400ms ease);
            opacity: 1;
        }
    }



    &__link {
        display: block;
        color: $main-menu-fontcolor;
        text-decoration: none;
        line-height: 1.2;
        font-size: 50px;
        outline: none;

        padding: 0.4em 0;

        @include transition(color 200ms ease);

        &:hover {
            color: #666 !important;
            text-decoration: none;
        }

        @include media-query(lap){
            font-size: 36px;
        }

        @media screen and ( max-height: 970px ){
            font-size: 36px;
            padding: 0.3em 0;
        }
        @media screen and ( max-height: 800px ){
            font-size: 30px;
        }


        @include media-query(palm){
            font-size: 22px;
        }

        &--main {

        }
        &--webprod {
            &:hover {
                color: $color-webprod-blue;
            }
        }
        &--proddev {
            &:hover {
                color: $color-proddev-pink;
            }
        }
        &--labs {
            &:hover {
                color: $color-labs-orange;
            }
        }
        &--cases {}
        &--aboutus {}
        &--blog {}
        &--contactus {}

        .device--touch &:hover {
            color: $main-menu-fontcolor !important;
        }

    }

    &__section-name {
        display: block;
        //border-top: 1px #464646 solid;
        @extend .epsilon;

        padding-top: 45px;
        line-height: 1;
        margin-bottom: 0;

        @media screen and ( max-height: 970px ){
            padding-top: 25px;
        }
        @include media-query(palm){
            font-size: 9px;
            padding-top: 10px;
        }


    }
}



