$main-menu-fontcolor: #fff;
.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cc0033;
    z-index: -1;
    width: 100%;
    opacity: 0;
    display: block;
    font-size: 40px;
    color: $main-menu-fontcolor;
    @include transition(opacity 200ms ease);

    &--expanded {
        z-index: 100;
        opacity: 1;
    }


    &__grid {
        margin: 0 auto;
        max-width: 1000px;
        width: 80%;
    }

    &__link {
        color: $main-menu-fontcolor;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }

    }
    &__section-name {
        font-size: 16px;
    }
}
