@mixin btnColors($border, $background) {
    border-color: $border;
    color: $border;
    background-color: transparent;
    &:hover {
        background-color: $border;
        color: $background;
    }
}


@mixin sneddis($degrees, $height:100px, $background-color:"inherit") {
    position: relative;
    .container {
        position: relative;
        z-index: 2;
    }
    &:after {
        content: " ";
        display: block;
        background-color: $background-color;
        width: 200%;
        height: $height;
        position: absolute;
        bottom: -$height/2;
        left: -50%;
        @include transform(rotate(#{$degrees}deg));
        z-index: 1;
    }
}

@mixin sneddisTop($degrees, $height:100px, $background-color:"inherit") {
    position: relative;
    .container {
        position: relative;
        z-index: 2;
    }
    &:after {
        content: " ";
        display: block;
        background-color: $background-color;
        width: 200%;
        height: $height;
        position: absolute;
        top: -$height/2;
        left: -50%;
        @include transform(rotate(#{$degrees}deg));
        z-index: 1;
    }
}
