@mixin sneddis($degrees, $height:100px) {
    position: relative;
    .container {
        position: relative;
        z-index: 2;
    }
    &:after {
        content: " ";
        display: block;
        background-color: inherit;
        width: 200%;
        height: $height;
        position: absolute;
        bottom: -$height/2;
        left: -50%;
        @include transform(rotate(#{$degrees}deg));
        z-index: 1;
    }
}
