.section {
    width: 100%;
    padding: 100px 0;
    @include media-query(palm){
        height: auto;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    @extend .vc;

    &__content {
        @extend .vc__content;
    }
}

