$topbar-height: 44px;
$topbar-color: #fff;

.topbar {
    @include user-select(none);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1000;
    height: $topbar-height;
    line-height: $topbar-height;
    h1 {
        margin: 0;
        padding: 0;
    }

    a {
        color: $topbar-color;
    }
    &__title {
        float: left;
        svg {
            width: auto;
            height: 30px;
            fill: white;
        }
        &:hover {
            svg {
            }
        }
    }

    &.menu-expanded {
        .topbar__title:hover svg {
            @include transform-origin(center top);
            @include animation(colorz 4s linear infinite);
        }
    }

    &__menu-button {
        float: right;
        color: $topbar-color;
        font-size: 28px;
    }
    svg {
        path {
            fill: inherit;
        }
    }
}

