/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        true;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;
$push: true;
$lap-and-up-push: true;
$desk-push: true;
.alpha, .beta, .gamma, .delta, .epsilon, .zeta , .giga, .mega, .kilo {
    font-weight: normal;
}


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

$lap-start:         601px!default;


$giga-size:         100px!default;
$mega-size:         72px!default;
$kilo-size:         60px!default;

$h1-size:           60px!default; // .alpha
$h2-size:           40px!default; // .beta
$h3-size:           34px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;

$lap-giga-size: 64px; // .giga
$lap-h1-size: 48px; // .alpha
$lap-h2-size: 28px; // .beta
$lap-h3-size: 24px; // .gamma
$lap-h4-size: 18px; // .delta
$lap-h5-size: 14px; // .epsilon
$lap-h6-size: 14px; // .zeta

$palm-giga-size: 36px; // .giga
$palm-h1-size: 26px; // .alpha
$palm-h2-size: 20px; // .beta
$palm-h3-size: 18px; // .gamma
$palm-h4-size: 16px; // .delta
$palm-h5-size: 12px; // .epsilon
$palm-h6-size: 12px; // .zeta
