@import "vars";
@import "bower_components/inuit.css/inuit";
@import "bower_components/bourbon/dist/bourbon";
@import "resets";

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

body {
    font-family: "proxima-nova"
}

$light_gray: #f0f0f0;
$color-proddev-pink: #ff0066;
$color-webprod-blue: #00ccff;
$color-labs-yellow: #ff9900;

@import "helpers";

@import "topbar";
@import "header";
@import "footer";
@import "menu";
@import "sections";
@import "cases";
