@import "vars";
@import "bower_components/inuit.css/inuit";
@import "bower_components/bourbon/dist/bourbon";
@import "resets";

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.main-content {
}


@import "topbar";
@import "header";
@import "footer";
@import "menu";
@import "sections";
