@import "vars";
@import "bower_components/inuit.css/inuit";
@import "bower_components/bourbon/dist/bourbon";
@import "resets";

body {
    font-family: "proxima-nova";
    overflow-x: hidden;
    background: #fff;
}

$light_gray: #f0f0f0;
$color-proddev-pink: #ff0066;
$color-webprod-blue: #00ccff;
$color-labs-orange: #f4a543;


@import "mixins";
@import "helpers";

@import "general/typography";
@import "general/misc";
@import "general/vertical-center";
@import "general/media";
@import "general/carousel";
@import "general/images";
@import "general/image-text-switcher";

@import "sections";
@import "sections/contact";
@import "cases";

@import "topbar";
@import "header";
@import "footer";
@import "menu";

@import "pages/pages";

@import "work/work";
@import "work/video";
@import "work/yogobe";


@import "keyframes";
