<div class="grid">
    <div class="grid__item lap-and-up-one-half">
        <dl class="contactways">
            <dt class="contactways__label epsilon contactways__label--left">E-mail</dt>
            <dd class="contactways__action gamma contactways__action--left"><a href="mailto:hello@agigen.se">hello@agigen.se</a></dd>

            <dt class="contactways__label epsilon contactways__label--left">Address</dt>
            <dd class="contactways__action gamma contactways__action--left">
                <a href="https://maps.google.com/maps?t=m&amp;q=Kaptensgatan+6%2C+Stockholm%2C+Sverige" target="_blank">Kaptensgatan 6</a>
                <div class="lap-and-up-hidden">
                    114 57 Stockholm
                </div>
            </dd>
        </dl>
    </div><!--
    --><div class="grid__item lap-and-up-one-half">
        <dl class="contactways">
            <dt class="contactways__label epsilon">Call</dt>
            <dd class="contactways__action gamma"><a href="tel:+468201337">+46 (0)8 20 1337 </a></dd>

            <dt class="contactways__label epsilon palm-hidden">Zippity-zip</dt>
            <dd class="contactways__action gamma palm-hidden">114 57 Stockholm</dd>
        </dl>
    </div>
</div>
