
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-touch.js"></script>
    <script src="//agigen-slack-chat.appspot.com/_ah/channel/jsapi"></script>
    <script src="//agigen-slack-chat.appspot.com/static/chat.js"></script>
    <script src="//www.youtube.com/iframe_api"></script>
    <script src="/js/agigen.jquery-in-view.js"></script>
    <script src="/js/agigen.js?v={{ .Site.Params.version }}"></script>
    <script type="text/javascript">
       var _paq = _paq || [];
       (function(){ var u=(("https:" == document.location.protocol) ? "https://tracker.leadenhancer.com/" : "http://tracker.leadenhancer.com/");
           _paq.push(['setAccountId', '56b1fd56e4b020ad9efd28fd']);
           _paq.push(['setSiteId', '56b1fd56e4b020ad9efd2900']);
           _paq.push(['setTrackerUrl', u + 'trk/v1']);
           _paq.push(['trackPageView']);
           _paq.push(['enableLinkTracking']);
           var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.defer=true; g.async=true; g.src=u+'static/t/v3/j.min.js';
           s.parentNode.insertBefore(g,s); })();
    </script>
    </body>
</html>
