<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

  <!-- CSS -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/agigen.css">

  <!-- Icons -->

  <link rel="shortcut icon" href="/img/utils/favicon.ico">

  <link rel="apple-touch-icon" sizes="152x152" href="/img/utils/apple-touch-icon.png">

  <link rel="icon" type="image/png" href="/img/utils/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/img/utils/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/img/utils/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/utils/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/utils/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-TileImage" content="/img/utils/mstile-144x144.png">

  <!-- RSS -->
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <meta name="description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">
  <meta itemprop="name" content="Agigen - Agile Generation AB">
  <meta itemprop="description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">

  <meta itemprop="image" content="http://agigen.se/img/share/opengraph.jpg">
  <meta property="og:image" content="http://agigen.se/img/share/opengraph.jpg" />
  <meta name="twitter:image" content="http://agigen.se/img/share/opengraph.jpg">

  <meta property="og:title" content="Agigen - Agile Generation AB" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Agigen.se" />
  <meta property="og:description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden."/>
  <meta property="og:url" content="http://agigen.se"/>
  <meta property="fb:admins" content="562883652,1205209891" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@agigen">
  <meta name="twitter:creator" content="@lendai">
  <meta name="twitter:title" content="Agigen - Agile Generation AB">
  <meta name="twitter:description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">


  <link rel="dns-prefetch" href="//ajax.googleapis.com">


  <script type="text/javascript" src="//use.typekit.net/orr5jqv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body ng-app="agigenApp" ng-controller="menuCtrl"
class="
page--{{ .Title | lower | urlize }}
{{ if .IsNode }}
  page--node
{{ else }}
  page--page
  page--{{ .Type }}
{{ end }}
" ng-class="{'menu-open': menuVisible}">
{{ "<!-- " | safeHtml }}

                      `://.
                    `+AAAAAo.
                  `+AAAAAAAAAo.
                `+AAAAAAAAAAAAAo.
              `+AAAAAAAAAAAAAAAAAo.
            `+AAAAAAAAAAAAAAAAAAAAAo.
          `+AAAAAAAAAs/sAAAAAAAAAAAAAo.
        `+AAAAAAAAAA+`  -oAAAAAAAAAAAAAo.
      `+AAAAAAAAAAA+      .+AAAAAAAAAAAAAo.
    `+AAAAAAAAAAAA/         .+AAAAAAAAAAAAAo.
  `+AAAAAAAAAAAAA/            .+AAAAAAAAAAAAAo.
 +AAAAAAAAAAAAAA/               -sAAAAAAAAAAAAAo`
.AAAAAAAAAAAAAA+                 `+AAAAAAAAAAAAA/
 /AAAAAAAAAAAAs`       `-/+agigen:`:AAAAAAAAAAAo`
  `/AAAAAAAAAA.    .:+AAAAAAAAAAAAA+/AAAAAAAAo.
    `/AAAAAAAo.-/oAAAAAAAAAAAAAAAAAAAAAAAAAo.
      `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.
        `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.
          `/AAAAAAAAAAAAAAAAAAAAAAAAAo.
            `+AAAAAAAAAAAAAAAAAAAAAo.
              `+AAAAAAAAAAAAAAAAAo.
                `+AAAAAAAAAAAAAo.
                  `+AAAAAAAAAo.
                    `+AAAAAo.
                      `-::`
{{ "-->" | safeHtml }}


