{{ template "partials/menu.html" . }}
{{ template "partials/topbar.html" . }}

<header class="main-header main-header--start" ng-controller="introCtrl" scroll-spy>
    <div class="main-header__content">
        <div class="container text--light">

            <div class="start-circle">

                <h2 class="start-circle__title">We make the web<br class="break"> a better place</h2>

                <svg class="start-circle__circle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 630 627.9" enable-background="new 0 0 630 627.9" xml:space="preserve">
                    <path class="start-circle__circle__path" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M345.6,612.7c151-15.3,268.9-142.9,268.9-298c0-165.4-134.1-299.5-299.5-299.5S15.5,149.3,15.5,314.7c0,155.1,117.9,282.6,268.9,298
                    "/>
                </svg>


                <svg class="start-circle__scroll" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 30 46" enable-background="new 0 0 30 46" xml:space="preserve">
                    <path class="start-circle__scroll__path" fill="#FFFFFF" d="M15,3V2C7.8,2,2,7.8,2,15v16c0,7.2,5.8,13,13,13c7.2,0,13-5.8,13-13V15c0-7.2-5.8-13-13-13V3v1
                        c3,0,5.8,1.2,7.8,3.2c2,2,3.2,4.7,3.2,7.8v16c0,3-1.2,5.8-3.2,7.8c-2,2-4.7,3.2-7.8,3.2c-3,0-5.8-1.2-7.8-3.2C5.2,36.8,4,34,4,31
                        V15c0-3,1.2-5.8,3.2-7.8C9.2,5.2,12,4,15,4V3z"/>
                    <path class="start-circle__scroll__path" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M14.5,13.4h1c0.8,0,1.5,0.7,1.5,1.5v5c0,0.8-0.7,1.5-1.5,1.5h-1
                        c-0.8,0-1.5-0.7-1.5-1.5v-5C13,14.1,13.7,13.4,14.5,13.4z"/>
                </svg>


            </div>



        </div>
    </div>

    <div class="could-wrapper could-wrapper--1"><div class="main-header--start__cloud main-header--start__cloud--1"></div></div>
    <div class="could-wrapper could-wrapper--2"><div class="main-header--start__cloud main-header--start__cloud--2"></div></div>

</header>



<div class="main-content">
