<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta property="fb:admins" content="562883652,1205209891">

<meta property="og:site_name" content="Agigen.se">
<meta name="twitter:site" content="@agigen">
<meta name="twitter:creator" content="@lendai">
<meta property="og:url" content="{{ .Permalink }}">

{{ if isset .Params "og_title" }}
    <meta itemprop="name" content="{{ .Params.og_title }}">
    <meta property="og:title" content="{{ .Params.og_title }}">
    <meta name="twitter:title" content="{{ .Params.og_title }}">
{{ else }}
    {{ $title := "Agigen - Agile Generation AB" }}
    <meta itemprop="name" content="{{ $title }}">
    <meta property="og:title" content="{{ $title }}">
    <meta name="twitter:title" content="{{ $title }}">
{{ end }}



{{ $description := "Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden." }}
{{ $image := "http://agigen.se/img/share/opengraph.jpg "}}



<meta itemprop="description" content="{{ $description }}">
<meta name="description" content="{{ $description }}">
<meta property="og:description" content="{{ $description }}">
<meta name="twitter:description" content="{{ $description }}">

<meta itemprop="image" content="{{ $image }}">
<meta property="og:image" content="{{ $image }}">
<meta name="twitter:image" content="{{ $image }}">


