<li>
    <article class="post">
        <a class="post__imagewrapper" href="{{ .Permalink }}">
            {{ if isset .Params "list_image" }}
                <img src="/img/blog/{{ .Params.list_image }}" class="post__image">
            {{ end }}
        </a>
        <div class="post__wrapper">
            <header>
                <span class="post__category">
                    {{ range .Params.categories }}
                      <a href="tags/{{ . | urlize }}" class="post__category-link post__category-link--{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </span>
                <time class="post__time">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
            </header>
            <h2 class="post__title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
            <div class="post__summary">
                {{ .Summary }}
            </div>
            <a href="{{ .Permalink }}" class="post__link">Read full post</a>

        </div>

    </article>
</li>
