.carousel-wrapper {
    margin: 0 auto;
}

.carousel-bevel {

    margin: 0 0 $base-spacing-unit;

    &--desktop {
        padding-top: 3.9%;
        background: transparent url(/img/carousel/chrome_window_top.png) top center no-repeat;
        background-size: contain;
    }

    &--mobile {
        background: transparent url(/img/carousel/iphone4s-retina.png) top center no-repeat;
        background-size: contain;
        padding-top: 33.9772727%;
        padding-bottom: 31.9318182%;
        padding-left: 8.8636364%;
        padding-right: 7.0454545%;
    }

}

.carousel {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    box-sizing: content-box;
    width: 100%;
    height: 0;
    padding-top: 59.74%;

    background: #fafafa;
    @include border-bottom-radius(10px);

    .carousel-bevel--mobile & {
        border-radius: 0;
        padding-top: 148.6486486%;
    }
}

.carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    overflow: hidden;
    z-index: 0;

    @include transition(all 400ms);

    &--current, &--prev, &--next {
        display: block;
        z-index: 1;
    }

    &--current {
        opacity: 1;
        border-radius: 10px;
    }

    &--prev, &--next {
        opacity: 0.5;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            opacity: 0.85;
        }
    }

    .raster {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent !important;
        opacity: 0;
        @include transition(opacity 400ms);
    }

    &--below {
        @include transform(translateX(-105%) scale(0.95));

        .raster {
            opacity: 1;
            @include linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,0) 100%);
        }
    }

    &--over {
        @include transform(translateX(105%) scale(0.95));

        .raster {
            opacity: 1;
            @include linear-gradient(right,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,0) 100%);
        }
    }

    .carousel-bevel--desktop & {
        &--current {
            @include border-top-radius(0);
        }
    }

    .carousel-bevel--mobile & {
        border-radius: 0 !important;

        &--below {
            @include transform(translateX(-110%) scale(0.8));
        }

        &--over {
            @include transform(translateX(110%) scale(0.8));
        }

        border-bottom: 1px solid #e3e3e3;
    }


    img {
        width: 100%;
        height: 100%;
    }
}

.carousel-nav {
    list-style: none;
    margin: 0 0 $base-spacing-unit;
    padding: 0;
}

.carousel-nav__item {
    opacity: 0.5;
    @include transform(scale(0.666667));
    @include transition(all 300ms ease);

    display: inline-block;
    margin: 0 $base-spacing-unit/4;

    &--current {
        opacity: 1;
        @include transform(scale(1));
    }

    a {
        display: block;
        width: 15px;
        height: 15px;
        background: #ddd;
        overflow: hidden;
        text-indent: -1000px;
        border-radius: 50%;
        cursor: pointer;
    }
}
