.image-text-switcher {
    position: relative;
    margin: 0;

    &__caption {
        position: absolute;
        opacity: 0;
        width: 100%;
        margin-top: 10px;

        top: 50%;
        @include transform(translateY(-50%));

        @include transition(all 200ms);
        .image-text-switcher:hover & {
            margin-top: 0px;
            opacity: 1;
        }
    }

    &__image {
        max-width: 80%;
        margin: 0 auto;

        @include media-query(desk) {
            max-width: 50%;
        }

        @include transition(all 200ms);
        .image-text-switcher:hover & {
            @include transform(translateY(10px));
            opacity: 0;
        }
    }
}
