[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

[ng\:click], [ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

a:active {
    background-color: transparent; //prevent default background in ie10.
}

@mixin misc-setup($namespace: "") {
    .#{$namespace}text--right           { text-align: right !important; }
    .#{$namespace}text--left            { text-align: left !important; }
    .#{$namespace}text--center          { text-align: center !important; }
}

@include media-query(palm){
    @include misc-setup("palm-");
}

@include media-query(lap){
    @include misc-setup("lap-");
}

@include media-query(lap-and-up){
    @include misc-setup("lap-and-up-");
}

@include media-query(portable){
    @include misc-setup("portable-");
}

@include media-query(desk){
    @include misc-setup("desk-");
}
