{{ partial "head.html" . }}
{{ partial "menu.html" . }}
{{ partial "topbar.html" . }}
{{ partial "header.html" . }}

<div class="content content--page-work">
    {{ .Content }}

    <section class="section section--start-contact">
        <div class="container">
            <p class="section--start__ingress section--start-contact__ingress ">Want to make something like this?</p>
            <h3 class="alpha">Get in touch</h3>

            {{ partial "contact-grid.html" . }}

        </div>
    </section>

</div>



{{ partial "footer.html" . }}
{{ partial "foot.html" . }}
