{{ partial "head.html" . }}
{{ partial "menu.html" . }}
{{ partial "topbar.html" . }}

<h1 class="accessibility">Our work</h1>
<header class="main-header main-header--work main-header--work--start">
    <div class="main-header__content">
        <div class="container">
            <h1 class="main-header__title">Case studies</h1>
            <p class="beta text--center">Explore a selection of some of our favourite pieces of work.</p>


            <div class="grid grid--vertically-centered grid--full awards-list">
                <div class="grid__item one-quarter">
                    <figure class="award award--1">
                        <figcaption class="award__number">8</figcaption>
                        <img src="/img/awards/cannes.svg" alt="Cannes Lions">
                    </figure>
                </div><!--
                --><div class="grid__item one-quarter">
                    <figure class="award award--2">
                        <figcaption class="award__number">17</figcaption>
                        <img src="/img/awards/fwa.svg" alt="Adobe Favourite Website Awards">
                    </figure>
                </div><!--
                --><div class="grid__item one-quarter">
                    <figure class="award award--3">
                        <figcaption class="award__number">6</figcaption>
                        <img src="/img/awards/webby.svg" alt="Webby Awards">
                    </figure>
                </div><!--
                --><div class="grid__item one-quarter">
                    <figure class="award award--4">
                        <figcaption class="award__number">9</figcaption>
                        <img src="/img/awards/awwwards.svg" alt="Awwwards">
                    </figure>
                </div><!--
                --><div class="grid__item one-quarter">
                    <figure class="award award--5">
                        <figcaption class="award__number">4</figcaption>
                        <img src="/img/awards/oneshow.svg" alt="One Show Awards">
                    </figure>
                </div><!--
                --><div class="grid__item one-quarter">
                    <figure class="award award--6">
                        <figcaption class="award__number">2</figcaption>
                        <img src="/img/awards/guldmobilen.svg" alt="Guldmobilen">
                    </figure>
                </div><!--
                --><div class="grid__item one-quarter">
                    <figure class="award award--7">
                        <figcaption class="award__number">3</figcaption>
                        <img src="/img/awards/goldegg.svg" alt="Guldägg">
                    </figure>
                </div><!--
                --><div class="grid__item one-quarter">
                    <figure class="award award--8">
                        <figcaption class="award__number">4</figcaption>
                        <img src="/img/awards/clio.svg" alt="CLIO Awards">
                    </figure>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="main-content">


<section class="case case--list case--list--suisse fade-in-container animate--in-view">
    <div class="container">
        <div class="grid grid--rev grid--vertically-centered">
            <div class="grid__item desk-one-half">
                <article class="case--list__contentwrapper portable-text--center">
                    <img src="/img/awards/fwakrans.svg" class="case--list__award-icon" alt="Awarded by FWA">
                    <img src="/img/awards/awwwardskrans.svg" class="case--list__award-icon" alt="Awarded by Awwwards">

                    <h3 class="case--list__subtitle">MIGROS</h3>
                    <h2 class="case--list__title">Suisse Mania</h2>
                    <p class="case--list__text">

                        Suisse Mania is an immersive experience based on cutting edge WebGL.
                        Fly over a huge 3D-Map of Switzerland and discover its most important monuments.
                        The page promotes Migros, Switzerland's largest retail company.
                    </p>

                    <a href="/work/migros-suissemania/" class="btn flush--left"><span class="palm-hidden">Read </span>case study</a>
                    <a href="http://www.suissemania.ch/" target="_blank" class="btn">Visit website</a>

                </article>
            </div><!--
            --><div class="grid__item desk-one-half portable-text--center">
                <img src="/img/work/case/suisse/suissem_casevisual.png" class="case--list--build__illustration case--list__illustration animate--in-view">
            </div>
        </div>
    </div>
</section>


<section class="case case--list case--list--aco fade-in-container animate--in-view">
    <div class="container container--tight text--center">

        <h3 class="case--list__subtitle">ACO</h3>
        <h2 class="case--list__title">Three faces of Moist</h2>
        <p class="case--list__text">
            A cutting edge commercial using eye detection in the browser to give every user a unique experience.
        </p>

        <a href="/work/aco-moist/" class="btn flush--left"><span class="palm-hidden">Read </span>case study</a>
        <a href="https://www.threefacesofmoist.com/" target="_blank" class="btn">Visit website</a>

    </div>
</section>

<section class="case case--list case--list--build fade-in-container animate--in-view">
    <div class="container">
        <div class="grid grid--rev grid--vertically-centered">
            <div class="grid__item desk-one-half">
                <article class="case--list__contentwrapper portable-text--center">

                    <img src="/img/awards/fwakrans.svg" class="case--list__award-icon" alt="Awarded by FWA">
                    <img src="/img/awards/awwwardskrans.svg" class="case--list__award-icon" alt="Awarded by Awwwards">
                    <h3 class="case--list__subtitle">Google & LEGO</h3>
                    <h2 class="case--list__title">Build with Chrome</h2>
                    <p class="case--list__text">Google teamed up with Warner Bros and LEGO to showcase the LEGO Movie and the WebGL capacities in Chrome.</p>

                    <a href="/work/build-with-chrome/" class="btn flush--left"><span class="palm-hidden">Read </span>case study</a>
                    <a href="https://www.buildwithchrome.com/" target="_blank" class="btn">Visit website</a>



                </article>
            </div><!--
            --><div class="grid__item desk-one-half portable-text--center">
                <img src="/img/work/google-featured-image.png" class="case--list--build__illustration case--list__illustration animate--in-view">
            </div>
        </div>
    </div>
</section>

<section class="case case--list case--list--samsung fade-in-container animate--in-view">
    <div class="container">
        <div class="grid grid--vertically-centered">
            <div class="grid__item desk-one-half">
                <article class="case--list__contentwrapper">
                    <h3 class="case--list__subtitle">Youneedtoseethisapp.com</h3>
                    <h2 class="case--list__title">Samsung<span class="palm-hidden"> Tab S</span></h2>
                    <p class="case--list__text case--list__text--left">Search for details hidden in gigapixel photos of Stockholm, Helsinki, Copenhagen and Oslo.</p>

                    <a href="/work/samsung-youneedtoseethis/" class="btn flush--left"><span class="palm-hidden">Read </span>case study</a>
                    <a href="http://www.youneedtoseethisapp.com" target="_blank" class="btn">Visit website</a>
                </article>
            </div><!--
            --><div class="grid__item desk-one-half portable-text--center">
                <img src="/img/webprod/webproduction-samsungcase.png" class="case--list--samsung__illustration case--list__illustration case--list__illustration--from-right animate--in-view">
            </div>
        </div>
    </div>
</section>

<section class="case case--list case--list--billogram fade-in-container animate--in-view">
    <div class="container">
        <div class="grid grid--rev grid--vertically-centered">
            <div class="grid__item desk-one-half">
                <article class="case--list__contentwrapper portable-text--center">
                    <h3 class="case--list__subtitle">Invoicing in the cloud</h3>
                    <h2 class="case--list__title">Billogram</h2>
                    <p class="case--list__text">We helped turn Billogram's online invoicing service idea into reality.</p>
                    <a href="/work/billogram" class="btn flush--left"><span class="palm-hidden">Read </span>case study</a>
                    <a href="https://billogram.com" target="_blank" class="btn">Visit website</a>
                </article>
            </div><!--
            --><div class="grid__item desk-one-half portable-text--center">
                <img src="/img/proddev/case-billogram.png" class="case--list--billogram__illustration case--list__illustration animate--in-view">
            </div>
        </div>
    </div>
</section>

<section class="case case--list case--list--carlsberg fade-in-container animate--in-view">
    <div class="container container--tight text--center">
        <img src="/img/awards/awwwardskrans.svg" class="case--list__award-icon" alt="Awarded by Awwwards">
        <h3 class="case--list__subtitle">Carlsberg</h3>
        <h2 class="case--list__title">Where's the party</h2>
        <p class="case--list__text">Together with North Kingdom, we created Carlsberg’s Where’s the Party 2013 campaign, featuring Axwell of Swedish House Mafia fame.</p>
        <a href="/work/carlsberg-where-is-the-party/" class="btn flush--left">Read case study</a>
    </div>
</section>


<section class="archives">
    <div class="container">
        <div class="text--center">
            <h2 class="epsilon">Archives</h2>
            <h3 class="beta">Glories of the past</h3>
        </div>

        <div class="grid"><!--
        {{ range .Site.Sections.work }}
            {{ if isset .Page.Params "featured" }}

            {{ else }}
            --><div class="grid__item desk-one-half">

                <article class="archive-case archive-case--{{ .Page.Title | lower | urlize }}">

                    <div class="archive-case__content">
                        <h3 class="archive-case__tagline">
                            {{ if isset .Page.Params "subtitle" }}
                                {{ .Page.Params.subtitle }}
                            {{ else }}
                                {{ if isset .Page.Params "pretitle" }}
                                    {{ .Page.Params.pretitle }}
                                {{ else }}
                                    Case
                                {{ end }}
                            {{ end }}
                        </h3>
                        <h2 class="archive-case__title">{{ .Page.Title }}</h2>


                        {{ if isset .Page.Params "nocasestudy" }}
                        {{ else }}
                            <a href="{{ .Page.RelPermalink }}" class="btn"><span class="palm-hidden">View </span>case study</a>
                        {{ end }}

                        {{ if isset .Page.Params "siteurl" }}
                            <a href="{{ .Page.Params.siteurl }}" class="btn" target="_blank">Visit website</a>
                        {{ end }}

                    </div>

                    <div class="archive-case__hilight" style="background-color: {{ .Page.Params.color }}"></div>
                    <img src="/img/work/small/{{ .Page.Params.small_image }}" class="archive-case__image">
                </article>
                <style>
                .archive-case--{{ .Page.Title | lower | urlize }} .btn:hover {
                    color: {{ .Page.Params.color }} !important;
                }
                </style>
            </div><!--
            {{ end }}
        {{ end }}
        --></div>
    </div>
</section>

{{ partial "footer.html" . }}
{{ partial "foot.html" . }}
