{{ template "partials/head.html" . }}
{{ template "partials/menu.html" . }}
{{ template "partials/topbar.html" . }}

<h1 class="accessibility">Our work</h1>
<header class="main-header main-header--work">
    <div class="main-header__content">
        <div class="container">
            <h3 class="epsilon">Featured case</h3>
            <h2 class="alpha">Build with Chrome</h2>
            <p class="delta text-wrapper">Google teamed up with Warner Bros and LEGO to showcase the LEGO Movie and the WebGL capacities in Chrome.</p>

            <a href="/work/build-with-chrome/" class="btn">View case study</a>
            <a href="https://www.buildwithchrome.com/" target="_blank" class="btn">Visit website</a>
        </div>
    </div>
</header>
<div class="main-content">

<section class="section">
    <div class="section__content">
        <div class="container ">
            <p class="beta text--center">Our work have recieved some amazing awards.</p>
            <div class="grid text--center">
                <div class="grid__item one-quarter">
                    <article class="award">
                        <h3 class="award__number count-up">7</h3>
                        <h4 class="award__title">
                            <span>Awwwards</span>
                            <img src="/img/work/awards-awwwards.png">
                        </h4>
                    </article>
                </div><!--
                --><div class="grid__item one-quarter">
                    <article class="award">
                        <h3 class="award__number count-up">13</h3>
                        <h4 class="award__title">
                            <span>FWA</span>
                            <img src="/img/work/awards-fwa.png">
                        </h4>
                    </article>
                </div><!--
                --><div class="grid__item one-quarter">
                    <article class="award">
                        <h3 class="award__number count-up">2</h3>
                        <h4 class="award__title">
                            <span>Webby awards</span>
                            <img src="/img/work/awards-webby.png">
                        </h4>
                    </article>
                </div><!--
                --><div class="grid__item one-quarter">
                    <article class="award">
                        <h3 class="award__number count-up">3</h3>
                        <h4 class="award__title">
                            <span>Cannes Lions</span>
                            <img src="/img/work/awards-cannes.png">
                        </h4>
                    </article>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="case case--list case--list--samsung fade-in-container animate--in-view">
    <div class="container">
        <h3 class="case--list__subtitle">Youneedtoseethisapp.com</h3>
        <h2 class="case--list__title">Samsung Tab S</h2>
        <p class="case--list__text lap-and-up-one-half">Search for details hidden in gigapixel photos of Stockholm, Helsinki, Copenhagen and Oslo.</p>

        <a href="/work/samsung-youneedtoseethis/" class="btn btn--nomargin--left">Read case study</a>
        <a href="https://www.youneedtoseethisapp.com" target="_blank" class="btn">Visit website</a>

        <img src="/img/work/samsung-tablet.png" class="case--list--samsung__illustration case--list__illustration case--list__illustration--from-right animate--in-view">
    </div>
</section>

<section class="case case--list case--list--sj fade-in-container animate--in-view">
    <div class="container">
        <img src="/img/work/sj-screen.png" class="case--list--sj__illustration case--list__illustration animate--in-view">

        <div class="grid">
            <div class="grid__item push--lap-and-up-one-half lap-and-up-one-half">
                <h3 class="case--list__subtitle">Swedish railways</h3>
                <h2 class="case--list__title">Beta SJ.SE</h2>
                <p class="case--list__text">Together with POND we've helped develop the first concept of what will come to be the new web for SJ.se</p>

                <a href="/work/beta-sj-se/" class="btn btn--nomargin--left">Read case study</a>
                <a href="http://beta.sj.se" target="_blank" class="btn">Visit website</a>
            </div>
        </div>
    </div>
</section>

<section class="case case--list case--list--carlsberg fade-in-container animate--in-view">
    <div class="container text--center">
        <h3 class="case--list__subtitle">Carlsberg</h3>
        <h2 class="case--list__title">Where's the party</h2>
        <div class="text-wrapper">
            <p class="case--list__text">Together with North Kingdom, we created Carlsberg’s Where’s the Party 2013 campaign, featuring Axwell of Swedish House Mafia fame.</p>
            <a href="/work/carlsberg-where-is-the-party/" class="btn btn--nomargin--left">Read case study</a>
        </div>
    </div>
</section>

<section class="case case--list case--list--billogram fade-in-container animate--in-view">
    <div class="container">
        <div class="grid">
            <div class="grid__item lap-and-up-one-half illustration-wrapper">
                <img src="/img/work/billogram.png" class="case--list--billogram__illustration case--list__illustration animate--in-view">
            </div><!--
            --><div class="grid__item lap-and-up-one-half">
                <h3 class="case--list__subtitle">Invoicing in the cloud</h3>
                <h2 class="case--list__title">Billogram</h2>
                <p class="case--list__text">We helped turn Billogram's online invoicing service idea into reality.</p>
                <a href="/work/billogram" class="btn btn--nomargin--left">Read case study</a>
                <a href="https://billogram.com" target="_blank" class="btn">Visit website</a>
            </div>
        </div>
    </div>
</section>




<section class="archives">
    <div class="container">
        <div class="text--center">
            <h2 class="epsilon">Archives</h2>
            <h3 class="beta">Glories of the past</h3>
        </div>

        <div class="grid"><!--
        {{ range .Site.Sections.work }}
            {{ if isset .Page.Params "featured" }}

            {{ else }}
            --><div class="grid__item lap-and-up-one-half">

                <article class="archive-case">

                    <div class="archive-case__content">
                        <h3 class="archive-case__tagline">
                            {{ if isset .Page.Params "subtitle" }}
                                {{ .Page.Params.subtitle }}
                            {{ else }}
                                Case
                            {{ end }}
                        </h3>
                        <h2 class="archive-case__title">{{ .Page.Title }}</h2>


                        {{ if isset .Page.Params "nocasestudy" }}
                        {{ else }}
                            <a href="{{ .Page.Permalink }}" class="btn">View case study</a>
                        {{ end }}

                        {{ if isset .Page.Params "siteurl" }}
                            <a href="{{ .Page.Params.siteurl }}" class="btn">Visit website</a>
                        {{ end }}

                    </div>

                    <div class="archive-case__hilight" style="background-color: {{ .Page.Params.color }}"></div>
                    <img src="/img/work/small/{{ .Page.Params.small_image }}" class="archive-case__image">
                </article>
            </div><!--
            {{ end }}
        {{ end }}
        --></div>
    </div>
</section>










{{ template "partials/footer.html" . }}
{{ template "partials/foot.html" . }}
