.page--404-page-not-found {
    background: #252525;
    color: #ffffff;

    .page__ingress {
        @extend .label;
        color: #fff;
    }

    .page__title {
        @extend .heading;
        color: #fff;

        // special case since '404' is so short
        font-size: 200px;

        @include media-query(palm) {
            // special case since '404' is so short
            font-size: 100px;
        }
    }
}

.section--404 {
    padding: 150px 0;

    @include media-query(palm) {
        padding: 50px 0;
    }

    .btn.fearless-panda__btn {
        color: #222 !important;
        &:hover {
            color: #fff !important;
        }
    }
}


.fearless-panda--404-page-not-found {
    background: #212121;

    margin-bottom: 80px;

    @include media-query(portable) {
        margin-bottom: 0;
    }

    .fearless-panda__copy {
        color: #ffffff;
    }

    .fearless-panda__btn {
        @include btnColors(#212121, #fff);
        background: #fff;
        border-color: #fff;
    }
}
