.page--meet-the-team .main-header {
    background: $color-proddev-pink url(/img/about/header.jpg) no-repeat top center;
    background-size: cover;
    @include vhFejk(50);
}

.team-member {
    text-align: center;
    padding-top: 70px;

    // opacity: 0;
    @include transition(opacity 500ms ease 200ms);
    &.in-view--partial {
        // opacity: 1;
    }


    &__photoframe {
        width: 276px;
        height: 276px;
        border-radius: 138px;
        overflow: hidden;
        display: block;
        margin: 0 auto;
    }
    &__photo {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__name {
        padding-top: 20px;
        span {
            display: none;
        }
        img {
            width: 280px;
        }
    }
    &__title {
        padding-top: 20px;
        color: #656565;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}


