.page--meet-the-team .main-header {
    background: $color-proddev-pink url(/img/about/header.jpg) no-repeat top center;
    background-size: cover;
    @include vhFejk(50);
}

.team-member {
    text-align: center;
    padding-top: 70px;

    // opacity: 0;
    @include transition(opacity 500ms ease 200ms);
    &.in-view--partial {
        // opacity: 1;
    }

    &__photoframe-wrapper {
        max-width: 278px;
        margin: 0 auto;
    }

    &__photoframe {
        width: 100%;
        padding-bottom: 100%;
        box-sizing: content-box;
        height: 0;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        margin: 0 auto;

        margin-bottom: $base-spacing-unit;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__name {
        text-align: center;
        height: 0;
        box-sizing: content-box;
        padding-bottom: 25%;

        span {
            display: none;
        }

        img {
            height: 100%;
            display: inline-block;

            // compensate for jonas long schlong
            .team-member--jonas & {
                height: 200%;
                margin-left: -20%;
            }
        }
    }
    &__title {
        padding-top: 20px;
        color: #656565;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}


