$color-category-work: #ff0066;
$color-category-backstage: #00b585;
$color-category-casestudies: #00ccff;
$color-category-news: #ff9900;
$color-category-officefun: #9549b2;

.page--blogs .main-header {
    @include vhFejk(30);
}

.posts {
    list-style: none;
    margin: 0 auto;
    display: block;
    @extend .eight-tenths;
    @include media-query(palm){
        width: 100%;
    }
}

.categories {
    padding: 60px 0 0;
    @extend .epsilon;
}
.category-link {
    padding: 0 10px;
    a {
        color: inherit;
        &:hover {
            color: #252525;
        }
    }
    &--backstage a:hover {
        color: $color-category-backstage;
    }
    &--case-studies a:hover {
        color: $color-category-casestudies;
    }
    &--news a:hover {
        color: $color-category-news;
    }
    &--office-fun a:hover {
        color: $color-category-officefun;
    }
    &--work a:hover {
        color: $color-category-work;
    }
}


.post {
    min-height: 228px;
    border-bottom: 1px #d9d9d9 solid;
    padding: 60px 30px;
    @include media-query(palm){
        padding: 0 20px 80px;
        border: none;
    }
    &__imagewrapper {
        width: 160px;
        height: 160px;
        display: block;
        border-radius: 80px;
        overflow: hidden;
        float: left;
        @include media-query(palm){
            height: 80px;
            width: 130%;
            left: -15%;
            position: relative;
            border-radius: 0;
            margin-bottom: 10px;
        }

    }
    &__image {
        min-width: 100%;
        min-height: 100%;
        @include media-query(palm){
            margin-top: -22%;
        }
    }
    &__wrapper {
        margin-left: 190px;
        @include media-query(palm){
            margin-left: 0;
        }
    }
    &__category-link {
        @extend .epsilon;
        color: $color-proddev-pink;

        &--backstage {
            color: $color-category-backstage;
        }
        &--case-studies {
            color: $color-category-casestudies;
        }
        &--news {
            color: $color-category-news;
        }
        &--office-fun {
            color: $color-category-officefun;
        }
        &--work {
            color: $color-category-work;
        }
    }
    &__time {
        @extend .epsilon;

    }
    &__title {
        @extend .beta;
        padding: 20px 0;
    }
    &__summary {
        p {
            @extend .delta;
            @include media-query(palm){
                font-size: 12px;
            }
        }
    }
    &__link {
        @extend .delta;
        text-decoration: underline;

    }
}

.blog-post {
    p {
        @extend .text-wrapper;
    }
}
