.page--contact .main-header {
    display: none;
}

.section {
    &--contact {
        &__header {
            position: relative;
            @include vhFejk(70);
            @extend .text--light;
            background: #222;
            .section__content {
                position: relative;
                z-index: 5;
            }

            #map-canvas {
                opacity: 0.25;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 0;
                overflow: hidden;
            }
        }
        &__work {
            padding: 200px 0 300px;
            background: white url(/img/contact/sthlm-skyline.jpg) no-repeat bottom center;
            background-size: 100%;
        }
    }
}
