.page--contact .main-header {
    display: none;
}

.contact-header {
    background: #222;
    @include vhFejk(70);
    position: relative;
    overflow: hidden;
    @extend .text--light;
    @include media-query(palm) {
        height: auto;
        padding: 100px 0;
    }

    &__overlay {
        @extend .vc;
        @include media-query(lap-and-up){
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.4);
            z-index: 10;
            width: 100%;
            height: 100%;
            @include transition(transform 1s $ease-in-out-cubic);
            @include transform(translateY(0%));
        }
        &--hidden {
            @include transform(translateY(-100%));
        }

        .contactways {
            padding: 0;
        }

        &__content {
            @extend .vc__content;
        }
    }
    &__togglemap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: #676767;
        text-align: center;
        z-index: 10;
        @include transition(all 200ms $ease-in-out-cubic);
        &:before {
            top: -6px;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #676767;
            border-width: 6px 9px;
            margin-left: -9px;
            @include transform(translateY(0px));
            @include transition(all 200ms $ease-in-out-cubic);
        }
        &:hover:before {
            @include transform(translateY(-4px));
            border-bottom-color: #ccc;
        }
        &:hover {
            color: #ccc;
        }
    }

    #map-canvas {
        opacity: 1;
        width: 100%;
        top: 0;
        left: 0;
        bottom: -30px;
        position: absolute;
        z-index: 1;
        overflow: hidden;
    }
}


.section {
    &--contact {
        &__work {
            @extend .text--light;
            background: #00ccff;
            padding: 120px 0 140px;
            @include media-query(palm) {
                padding: 30px 0;
                font-size: 16px;
            }
            &__copy {
                padding: 30px 0 80px;
                @include media-query(palm) {
                    padding: 0 0 30px;
                    font-size: 16px;
                }
            }
        }
    }
}

.fearless-panda {
    position: relative;
    background: #05bcea;
    padding: 80px 0;
    border-radius: 130px;

    @include media-query(palm) {
        margin-top: 100px;
        padding-top: 90px;
        border-radius: 20px;
        padding-bottom: 30px;
    }

    &__copy {
        @extend .gamma;
        display: block;
        margin: 0 auto;
        max-width: 460px;
        padding: 0;
        @include media-query(palm) {
            font-size: 14px;
            padding: 10px 25px;
        }
    }
    &__btn {
        border-color: #fff;
        color: #00ccff;
        background: white;
        position: absolute;
        bottom: -25px;
        width: 220px;
        left: 50%;
        margin-left: -110px;
        &:hover {
            background: #05bcea;
            color: #fff;
            border-color: #fff;
        }
        @include media-query(palm) {
            position: static;
            margin: 20px auto 0;
        }

    }
    &__panda {
        position: absolute;
        bottom: -50px;
        left: 130px;
        width: 162px;
        height: auto;
        @include media-query(palm) {
            top: -120px;
            left: 50%;
            margin-left: -81px;
        }
    }
}
