.page {
    &--agigen-labs {
        .main-header {
            background-color: $color-labs-orange;
            background-image: url(/img/labs/top-bg.jpg);
            @include vhFejk(50);
        }
    }
}

.section {
    &--labs-oddset {
        background: #252525;
    }
    &--labs-github {
        padding-bottom: 150px;
        @include media-query(palm) {
            padding-bottom: 60px;
        }
    }
}

.labs-github-illustration {
    width: 400px;

}
