.page {
    &--product-development {
        .main-header {
            background: $color-proddev-pink;
        }
    }
}


$time_between_points: 800ms;
.proddev-process {
    position: relative;
    padding-top: 100px;
    font-size: 20px;
    color: #676767;
    &__circle {
        .path {
            stroke-dasharray: 1221;
            stroke-dashoffset: 1221;
            @include animation(proddevprocess $time_between_points*6 ease-in forwards);
        }
        width: 574px;
        height: 574px;
    }
    &__point {

        @include transform-origin(center center);
        @include animation(processpoint 300ms linear);

        &--1 { @include animation-delay(0); }
        &--2 { @include animation-delay($time_between_points*1+200); }
        &--3 { @include animation-delay($time_between_points*2+300); }
        &--4 { @include animation-delay($time_between_points*3+400); }
        &--5 { @include animation-delay($time_between_points*4+630); }
        &--6 { @include animation-delay($time_between_points*5+780); }
    }

    &__steps {
        ol, li {
            padding:0;
            margin: 0;
        }

    }
    &__step {
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        text-align: left;
        strong {
            color: #ff0065;
            display: block;
            @extend .gamma
        }

        &--1 {
            text-align: center;
            left: 360px;
            width: 460px;
        }
        &--2 {
            top: 240px;
            left: 840px;
        }
        &--3 {
            top: 460px;
            left: 840px;
        }
        &--4 {
            @extend .proddev-process__step--1;
            top: 670px;
        }
        &--5 {
            top: 460px;
            left: 50px;
        }
        &--6 {
            left: 50px;
            top: 260px;
        }
    }
}

.section {
    &--proddev-definition {
        background-color: whiite;
    }

    &--proddev-howwework {
        padding-top: 50px;
        min-height: 675px;
        background: $color-proddev-pink url(/img/proddev/pink-texture.jpg) no-repeat top center;
        background-size: cover;
        @extend .text--light;
        @include sneddis(-4, 180px, white);
        &__illustration {
            position: absolute;
            bottom: -160px;
        }
        .delta {
            max-width: 80%;
        }
    }

    &--proddev-team {
        background-color: white;
        padding-top: 100px;
        .container {
            z-index: 5;
            position: relative;
        }
        &__illustration {
            position: absolute;
            left: -55px;
            bottom: -120px;
        }
        .gamma {
            // padding-top: 100px;
        }
    }

    &--proddev-contact {
        min-height: 450px;
        background: $color-proddev-pink url(/img/proddev/contact-texture.jpg) no-repeat top center;
        background-size: cover;
        color: white;

    }

    &--proddev-case {
        .btn {
            margin-top: 30px;
            border-color: #333;
            @include btnColors(#333, white);
        }

        &--billogram {
            @include sneddis(-9, 380px, white);
            padding-bottom: 0;
            height: 300px;
            &__illustration {
                position: absolute;
            }
        }
        &--yogobe {
            background: #f0f0f0;
            padding-top: 300px;
            .container {
                position: relative;
                z-index: 5;
            }
            &__illustration {
                position: absolute;
                right:0;
                bottom: -450px;
                max-width: none;
            }
            &__illustration-container {
                position: relative;
            }
        }
        &--uppsalastudent {
        }

    }
}
