.page {
    &--product-development {
        .main-header {
            @include vhFejk(50);
            background: $color-proddev-pink url(/video/pinkvideo.jpg) no-repeat center center;
            background-size: cover;
        }
    }
}

.proddev-process {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
    font-size: 20px;
    color: #676767;

    @include media-query(portable) {
        padding: 0;
        font-size: 14px;
    }


    &__circle {
        .path--animated {
            stroke-dasharray: 1635;
            stroke-dashoffset: 1635;

            @include transition(all 1100ms $ease-out-expo 300ms);

            .proddev-process.in-view--whole &,
            .proddev-process.in-view--cover & {
                stroke-dashoffset: 0;
            }
        }
        .path--faded {
            stroke-opacity: 0.25;

            stroke-dasharray: 1635;
            stroke-dashoffset: 1635;

            @include transition(all 3600ms $ease-out-expo 900ms);

            .proddev-process.in-view--whole &,
            .proddev-process.in-view--cover & {
                stroke-dashoffset: 0;
            }
        }
        width: 65%;

        @include media-query(portable) {
            display: none;
        }
    }
    &__point {

        @include transform-origin(center center);
        @include transform(scale(0));

        .proddev-process.in-view--whole &,
        .proddev-process.in-view--cover & {
            @include animation(processpoint 300ms linear forwards);

            &--2 { @include animation-delay(253.125ms); }
            &--3 { @include animation-delay(337.5ms); }
            &--4 { @include animation-delay(450ms); }
            &--5 { @include animation-delay(600ms); }
            &--6 { @include animation-delay(800ms); }
        }
    }

    &__steps {
        ol, li {
            padding:0;
            margin: 0;
        }
    }
    &__step {
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        text-align: left;
        strong {
            color: #ff0065;
            display: block;
            @extend .gamma;
            line-height: 1.2;
            margin-bottom: 10px;
            @include media-query(palm){
                margin-bottom: 5px;
            }
        }

        @include media-query(desk) {
            opacity: 0;
        }

        @include transition(opacity 300ms linear);

        &--2 { @include transition-delay(253.125ms); }
        &--3 { @include transition-delay(337.5ms); }
        &--4 { @include transition-delay(450ms); }
        &--5 { @include transition-delay(600ms); }
        &--6 { @include transition-delay(800ms); }

        .proddev-process.in-view--whole &,
        .proddev-process.in-view--cover & {
            opacity: 1;
        }

        &--1 {
            text-align: center;
            left: 0;
            width: 100%;
        }
        &--2 {
            top: 32.5%;
            left: 75%;
        }
        &--3 {
            top: 62.5%;
            left: 74%;
        }
        &--4 {
            @extend .proddev-process__step--1;
            top: 87%;
        }
        &--5 {
            top: 62.5%;
            left: 1%;
            text-align: right;
        }
        &--6 {
            top: 32.5%;
            left: 1%;
            text-align: right;
        }

        @include media-query(portable) {
            width: 80%;
            display: block;
            margin: 0 auto 20px !important;
            position: static;
            text-align: center;
            strong {
                font-size: 24px;
                padding: 0;
            }
            .lap-breaker {
                display: none;
            }
        }
    }
}

.section {

    &__title {
        @extend .gamma;
    }
    &__text {
        @extend .delta;
    }

    &--proddev-howwework {
        padding-top: 0;
        height: 675px;
        background: $color-proddev-pink url(/img/proddev/pink-texture.jpg) no-repeat top center;
        background-size: cover;
        @extend .text--light;
        @include sneddis(-4, 180px, white);

        @include media-query(palm) {
            padding-top: 50px;
            height: auto;
        }

        .container {
            z-index: 16;
        }
        & + .section {
            position: relative;
        }

        &:after, & + .section {
            z-index: 15;

        }

        &__illustration {
            position: static;
            width: 459px;
            max-width: none;

            @include media-query(palm) {
                max-width: 100%;
            }

            &-wrapper {
                position: absolute;
                top: 60%;
                @include transform(translateY(-50%));

                @include media-query(palm) {
                    @include transform(translateY(0));
                    position: relative;
                    top: 0;
                    display: block;
                    max-width: 80%;
                    margin: 0 auto;
                }
            }
            &__animation {
                position: absolute;
                top: 10.9%;
                left: 14.5%;
                right: 11.3%;
                bottom: 12.6%;
                background: transparent url(/img/proddev/productdevelopment-animation.gif) no-repeat 0px 0px;
                background-size:cover;

            }
        }
        .section__text {
            max-width: 80%;

            @include media-query(portable) {
                max-width: none;
            }
        }
    }

    &--contact {
        min-height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        @extend .text--light;

        @media only screen and (max-width: 640px) {
            min-height: 0;
        }

        &__content {
            @extend .alpha;
            @extend .text-wrapper;

            @media only screen and (max-width: 640px) {
                font-size: 20px;
            }
        }
        .btn:hover {
            color: #ff0066;
        }
    }

    &--proddev-team {
        @include media-query(palm){
            padding-top: 0px;
        }
    }

    &--proddev-contact {
        background-color: $color-proddev-pink;
        background-image: url(/img/proddev/contact-texture.jpg) ;
        @include media-query(palm) {
            background-image: none;
        }
    }

    &--proddev-case {
        @include media-query(palm) {
            text-align: center;
        }
        &__title {
            @extend .gamma;
        }
        &__subtitle {
            @extend .epsilon;
        }
        &__text {
            @extend .delta;
            margin-bottom: 0;
        }

        .btn {
            margin-top: 30px;
            @include btnColors(#333, white);
        }

        &--billogram {
            padding-top: 90px 0 50px;

            &__illustration {

                max-width: 86%;
                @include media-query(portable) {
                    width: 50%;
                    padding-top: 30px;
                }
                @include media-query(palm){
                    width: 70%;
                }
            }
            .container {
                z-index: 3;
            }

            @include media-query(palm){
                padding: 40px 0 120px;
            }
        }
        &--yogobe {
            background: #f0f0f0;
            @include sneddisTop(-3.5, 150px);
            padding-top: 30px;
            padding-bottom: 90px;

            &__content {
                @include media-query(desk) {
                    padding-left: 50px;
                }
            }

            .container {
                z-index: 5;
                @include media-query(palm){
                    top: -30px;
                }
            }
            &__illustration {
                max-width: 110%;
                position: relative;
                left: -15%;
                @include media-query(portable) {
                    left: auto;
                    position: static;
                    width: 65%;
                    padding-top: 30px;
                }
                @include media-query(palm){
                    width: 100%;
                }

            }
            &__illustration-container {
                position: relative;
            }

            @include media-query(palm){
                padding: 0;
            }
        }
        &--uppsalastudent {
            padding: 100px 0 0;
            .container {
                z-index: 3;
            }
            &__illustration {
                padding-top: 40px;
                max-width: 86%;
                @include media-query(portable) {
                    width: 50%;
                    padding-top: 30px;
                }
                @include media-query(palm){
                    width: 70%;
                }
            }

            @include media-query(palm){
                padding: 40px 0 20px;
            }

        }

    }
}
