.page {
    &--product-development {
        .main-header {
            background: $color-proddev-pink url(/video/pinkvideo.jpg) no-repeat center center;
            background-size: cover;
        }
    }
}


$time_between_points: 1000ms;
.proddev-process {
    position: relative;
    padding-top: 100px;
    font-size: 20px;
    color: #676767;

    @media only screen and (max-width: 640px) {
        padding: 0;
        font-size: 14px;
    }

    &__circle {
        .path {
            stroke-dasharray: 1221;
            stroke-dashoffset: 1221;
            @include animation(proddevprocess $time_between_points $ease-in-out-quint 800ms forwards);
        }
        width: 574px;
        height: 574px;
    }
    &__point {

        @include transform-origin(center center);
        @include transform(scale(0));
        @include animation(processpoint 300ms linear forwards);

        &--1 { @include animation-delay(800); }
        &--2 { @include animation-delay($time_between_points * 1 + 800); }
        &--3 { @include animation-delay($time_between_points * 2 + 800); }
        &--4 { @include animation-delay($time_between_points * 3 + 800); }
        &--5 { @include animation-delay($time_between_points * 4 + 800); }
        &--6 { @include animation-delay($time_between_points * 5 + 800); }
    }

    &__steps {
        ol, li {
            padding:0;
            margin: 0;
        }
    }
    &__step {
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        text-align: left;
        strong {
            color: #ff0065;
            display: block;
            @extend .gamma
        }

        opacity: 0;
        @include animation(processtep 300ms linear forwards);

        &--1 { @include animation-delay(800); }
        &--2 { @include animation-delay($time_between_points * 1 + 800); }
        &--3 { @include animation-delay($time_between_points * 2 + 800); }
        &--4 { @include animation-delay($time_between_points * 3 + 800); }
        &--5 { @include animation-delay($time_between_points * 4 + 800); }
        &--6 { @include animation-delay($time_between_points * 5 + 800); }

        &--1 {
            text-align: center;
            left: 0;
            width: 100%;
        }
        &--2 {
            top: 240px;
            left: 840px;
        }
        &--3 {
            top: 460px;
            left: 840px;
        }
        &--4 {
            @extend .proddev-process__step--1;
            top: 670px;
        }
        &--5 {
            top: 460px;
            left: 50px;
        }
        &--6 {
            left: 50px;
            top: 260px;
        }

        @media only screen and (max-width: 640px) {
            width: 80%;
            display: block;
            margin: 0 auto 20px !important;
            position: static;
            text-align: left;
            strong {
                font-size: 24px;
                padding: 0;
            }
            .lap-breaker {
                display: none;
            }
        }
    }
}

.section {

    &--proddev__title {
        @extend .gamma;
    }
    &--proddev__text {
        @extend .delta;
    }

    &--proddev-howwework {
        padding-top: 50px;
        min-height: 675px;
        background: $color-proddev-pink url(/img/proddev/pink-texture.jpg) no-repeat top center;
        background-size: cover;
        @extend .text--light;
        @include sneddis(-4, 180px, white);

        & + .section {
            position: relative;
        }

        &:after, & + .section {
            z-index: 15;
        }

        &__illustration {
            position: static;
            &-wrapper {
                position: absolute;
                top: -260px;
                @include media-query(palm) {
                    position: absolute;
                    top: auto;
                    max-width: 80%;
                    bottom: -390px;
                    left: 10%;

                }
            }
            &__animation {
                position: absolute;
                top: 11%;
                left: 14.6%;
                right: 11.3%;
                bottom: 12.7%;
                background: transparent url(/img/proddev/productdevelopment-animation.gif) no-repeat 0px 0px;
                background-size:cover;

            }
        }
        .section--proddev__text {
            max-width: 80%;
        }
        @include media-query(palm){
            min-height: 0;
            padding-bottom: 380px;
            .section--proddev__text {
                max-width: 100%;
            }
        }
    }

    &--proddev-team {
        background-color: white;
        padding-top: 100px;
        .container {
            z-index: 5;
        }
        &__illustration {
            position: static;
            max-width: 100%;
            z-index: 3;
            height: auto;
            &-wrapper {
                position: absolute;
                @media only screen and (max-width: 1100px) {
                    position: relative;
                    max-width: 100%;
                    height: auto;
                    bottom: auto;
                }
                left: -55px;
                bottom: -120px;
                @include media-query(palm) {
                    position: absolute;
                    top: auto;
                    max-width: 80%;
                    bottom: -390px;
                    left: 10%;

                }
            }
            &__animation {
                position: absolute;
                z-index: 2;
                background: transparent url() no-repeat 0px 0px;
                background-size: contain;
                &--phone {
                    z-index: -1;
                    top: 26.9%;
                    left: 5.6%;
                    right: 41%;
                    bottom: 10.7%;
                    background-image: url(/img/proddev/iphonealert.gif);
                }
                &--coffee {
                    background-image: url(/img/proddev/coffee.gif);

                    top: 10.5%;
                    left: 63.6%;
                    right: 11%;
                    bottom: 64%;
                }
            }
        }

        @include media-query(palm){
            padding-top: 0px;
        }
    }


    &--contact {
        min-height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        @extend .text--light;

        @media only screen and (max-width: 640px) {
            min-height: 0;
        }

        &__content {
            @extend .gamma;
            @extend .text-wrapper;
            @media only screen and (max-width: 640px) {
                font-size: 20px;
            }
        }
    }

    &--proddev-contact {
        background-color: $color-proddev-pink;
        background-image: url(/img/proddev/contact-texture.jpg) ;

    }

    &--proddev-case {
        @include media-query(palm) {
            text-align: center;
        }
        &__title {
            @extend .gamma;
        }
        &__subtitle {
            @extend .epsilon;
        }
        &__text {
            @extend .delta;
        }

        .btn {
            margin-top: 30px;
            @include btnColors(#333, white);
        }

        &--billogram {
            min-height: 450px; // dunno

            @include sneddis(-9, 380px, white);
            padding-bottom: 0;
            height: 300px;
            &__illustration {
                position: absolute;
                max-width: 589px;
                height: auto;
                @include media-query(palm) {
                    position: absolute;
                    top: 100%;
                    left: 10%;
                    width: 80%;

                }
            }
        }
        &--yogobe {
            background: #f0f0f0;
            padding-top: 300px;
            @include media-query(palm){
                padding-bottom: 240px;
                .grid__item {
                    text-align: center;
                }
            }
            .container {
                z-index: 5;
            }
            &__illustration {
                position: absolute;
                right:0;
                bottom: -450px;
                max-width: none;
                @include media-query(palm){
                    right: auto;
                    bottom: auto;
                    left: 10%;
                    width: 90%;
                    top: 40px;
                }

            }
            &__illustration-container {
                position: relative;
            }
        }
        &--uppsalastudent {
            &__illustration {
                position: static;
                float: right;
                @include media-query(palm) {
                    float: none;
                    margin: 30px auto;
                    width: 80%;
                    display: block;
                }
            }
        }

    }
}
