.main-header--start {
    background-image: url(/img/start/splash/mountain.jpg);
    background-position: top center;
    position: relative;

    &__cloud {
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        width: 1920px;
        @include transform(translate3d(0,0,0));

        &--1 {
            height: 720px;
            background-image: url(/img/start/splash/cloud_1920_720.png);
            bottom: -360px;
            right: 50%;
            // border: 1px blue solid;
            @include animation(cloudsRight 120s linear 200ms);
        }
        &--2 {
            height: 1000px;
            background-image: url(/img/start/splash/cloud_1920_1000.png);
            bottom: -500px;
            // border: 1px yellow solid;
            left: 50%;
            @include animation(cloudsLeft 300s linear 200ms);
        }
    }

    @media only screen and (max-width: 640px) {
        height: 400px;
        // override js parallax
        background-position: top center !important;

        &__cloud {
            display: none;
        }
    }
}

.could-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &--1 {
        z-index: 15;
    }
    &--2 {
    }
}

@include keyframes(cloudsLeft) {
    from {
        @include transform(translate3d(0%,0,0))
    }
    to {
        @include transform(translate3d(-150%,0,0))
    }
}
@include keyframes(cloudsRight) {
    from {
        @include transform(translate3d(0%,0,0))
    }
    to {
        @include transform(translate3d(200%,0,0))
    }
}



.start-circle {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 600px;
    height: 600px;

    @media only screen and (max-width: 640px) {
        width: 280px;
        height: 280px;
    }

    &__title {
        // @extend .delta;
        position: absolute;
        width: 80%;
        // text-align: center;
        // top: 50%;
        // text-transform: uppercase;
        // margin-top: -15px;
        z-index: 30;
        left: 10%;
        top: 30%;

        @media only screen and (min-width: 640px) {
            @include transition(opacity 450ms ease 2400ms);
            opacity: 0;
        }
        .break {
            @media only screen and (min-width: 640px) {
                display: none;
            }
        }

    }
    &__circle {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        width: 100%;
        &__path {
            @media only screen and (min-width: 640px) {
                stroke-dasharray: 1821;
                stroke-dashoffset: 1821;
            }

        }

    }
    &__scroll {
        position: absolute;
        bottom: -5px;
        width: 40px;
        height: 40px;
        left: 47%;
        z-index: 30;

        @media only screen and (min-width: 640px) {
            @include transition(opacity 400ms ease 2800ms);
            opacity: 0;
        }
        @media only screen and (max-width: 640px) {
            left: 125px;
            width: 30px;
            height: 30px;
        }
    }
}
.animate {
    @media only screen and (min-width: 640px) {
        .start-circle__title ,
        .start-circle__scroll {
            opacity: 1;
        }
        .start-circle__circle__path {
            @include animation(dash 3000ms $ease-in-out-quint forwards);
        }
    }

}

@include keyframes(dash) {
    from {
        stroke-dashoffset: 1821;

    }
    to {
        stroke-dashoffset: 0;
    }
}


.client-logo {
    vertical-align: middle;
    display: inline-block;
    max-height: 61px;
    margin: 20px 20px;
    max-width: 160px;
    opacity: 0.4;



    // &--mcdonalds {}
    // &--lego {}
    // &--google {}
    // &--sj {}
    // &--sony {}
    // &--vodafone {}
    // &--wb {}
    // &--samsung {}
    // &--adidas {}
    // &--volvo {}
    // &--carlsberg {}
    // &--netflix {}
    // &--mini {}

    @media only screen and (max-width: 1180px) {
        max-width: 120px;
    }
    @media only screen and (max-width: 1080px) {
        max-width: 100px;
    }
    @media only screen and (max-width: 1080px) {
        max-width: 90px;
    }
    @media only screen and (max-width: 700px) {
        max-width: 49px;
        max-height: 40px;
        margin: 10px;
    }
    @include media-query(palm) {
        margin: 0 3px;
        max-width: 30px;
        max-height: 18px;

    }


}

.section {
    &--start {
        @extend .text--center;
        &__ingress {
            @extend .epsilon;
            margin: 0;
        }
        &__title {
            @extend .alpha;
        }
        &__copy {
            @extend .beta;
            font-size: 30px;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            @media only screen and (max-width: 1180px) {
                font-size: 24px;
            }
            @include media-query(palm){
                max-width: 80%;
                font-size: 18px;
            }

        }
    }

    &--start-intro {
        position: relative;
        @extend .text--dark;
        background: white;

        &__ingress {
            padding: 0 0 100px;
            @include media-query(palm){
                padding: 0 0 0 0;
            }
        }

        &__logos {
            text-align: center;
            vertical-align: middle;
        }

        &__logos-header {
            @extend .epsilon;
            display: none;
        }
    }

    &--start-webprod ,
    &--start-proddev {
        @extend .text--light;
        @include vhFejk(90);
        overflow: hidden;
        position: relative;
        @include media-query(palm){
            background-image: url(/img/start/webprod/mobile-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            padding-top: 100px;
            padding-bottom: 180px;
        }
    }
    &--start-webprod {
        @include media-query(palm){
            padding-top: 100px;
            padding-bottom: 150px;
        }
    }

    &--start-proddev {
        @include media-query(palm){
            background-image: url(/img/start/proddev/mobile-bg.jpg);
            padding-bottom: 180px;
        }
    }

    &--labs {
        background-color: $color-labs-orange;
    }

    &--start-contact {
        @extend .text--center;
        @extend .text--light;
        background-color: #252525;
        position: relative;
        z-index: 10;
    }
}
@import "sections/start-webprod-parallax";
@import "sections/start-proddev-parallax";
@import "sections/start-labs";

