.main-header--start {
    background-image: url(/img/start/splash/mountain.jpg);
    background-color: #DD0053;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;

    &__cloud {
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        width: 1920px;
        opacity: 0;
        @include transform(translate3d(0,0,0));

        &--1 {
            height: 100%;
            background-image: url(/img/start/splash/cloud_1920_720.png);
            background-size: contain;
            bottom: -50%;
            right: 50%;
            // border: 1px blue solid;
            @include transform(translate3d(-40%,0,0));
            @include animation(cloudsRight 120s linear 200ms);
        }
        &--2 {
            height: 125%;
            background-image: url(/img/start/splash/cloud_1920_1000.png);
            background-size: contain;
            bottom: -75%;
            // border: 1px yellow solid;
            left: 50%;
            @include transform(translate3d(-30%,0,0));
            @include animation(cloudsLeft 300s linear 200ms);
        }
    }

    @media only screen and (max-width: 640px) {
        height: 400px;
        // override js parallax
        background-position: top center !important;

        &__cloud {
            display: none;
        }
    }

    .device--ios & {
        background-position: top center !important;
    }
}

.cloud-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &--1 {
        z-index: 15;
    }
    &--2 {
    }

    .browser-ie & {
        display: none;
    }
}

@include keyframes(cloudsLeft) {
    from {
        @include transform(translate3d(-30%,0,0));
        opacity: 0;
    }
    0.25% {
        opacity: 1;
    }
    to {
        @include transform(translate3d(-120%,0,0));
    }
}
@include keyframes(cloudsRight) {
    from {
        @include transform(translate3d(55%,0,0));
        opacity: 0;
    }
    2.5% {
        opacity: 1;
    }
    to {
        @include transform(translate3d(250%,0,0));
    }
}



.start-circle {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 680px;
    height: 680px;

    @include media-query(lap) {
        width: 400px;
        height: 400px;
    }

    @media only screen and (max-height: 900px) {
        width: 550px;
        height: 550px;
    }

    @media only screen and (max-height: 800px) {
        width: 500px;
        height: 500px;
    }

    @media only screen and (max-height: 700px) {
        width: 450px;
        height: 450px;
    }

    @media only screen and (max-height: 600px) {
        width: 400px;
        height: 400px;
    }

    @media only screen and (max-height: 500px) {
        width: 350px;
        height: 350px;
    }

    @media only screen and (max-width: 640px) {
        width: 300px;
        height: 300px;
    }

    &__title {

        position: absolute;
        width: 80%;
        height: 53.33333%;
        z-index: 30;
        left: 10%;
        top: 23.5%;


        @include transform-origin(center center);
        opacity: 0;
        @include transform(scale(0.5));
        path {

            @media only screen and (min-width: 640px) {
                // @include transition(opacity 450ms ease 2400ms);
                opacity: 0;

                @at-root .browser-ie & {
                    // @include transition(opacity 450ms ease 600ms);
                }
            }
        }

    }
    &__circle {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        height: 100%;
        width: 100%;
        &__path {
            @media only screen and (min-width: 640px) {
                stroke-dasharray: 2299;
                stroke-dashoffset: 2299;

                @at-root .browser-ie & {
                    stroke-dashoffset: 0;
                }
            }

        }

    }

}
.animate {
    @media only screen and (min-width: 640px) {
        .start-circle__title {
            @include animation(title-in 1500ms $ease-in-out-quint 2400ms forwards);
            path {
                opacity: 1;
            }
        }
        .start-circle__circle__path {
            @include animation(dash 5000ms $ease-in-out-quint 300ms forwards);
            // stroke-dashoffset: 0;
            // opacity: 1;
        }
    }
}


@include keyframes(title-in){
    from {
        opacity: 0;
        @include transform(scale(0.5));
    }
    to {
        opacity: 1;
        @include transform(scale(1));
    }
}

@include keyframes(dash) {
    0% {
        stroke-dashoffset: 2299;
        @include animation-timing-function($ease-in-quint);
        opacity: 1;
    }
    50% {
        stroke-dashoffset: 0;
        @include animation-timing-function($ease-out-quint);
        opacity: 1;
    }
    100% {
        @include animation-timing-function($ease-out-quint);
        stroke-dashoffset: -2299;
        opacity: 0;
    }
}



.grid--client-logos {
    width: 100%;
    margin: 40px auto;
    @include media-query(palm){
        margin: 0;
    }
}

.client-logo {

    &-container {
        height: 120px;
        line-height: 120px;
        @include media-query(palm){
            height: 60px;
            line-height: 60px;
        }

        vertical-align: middle;
        margin: 0;
        border: 1px #eee solid;
        border-width: 0 1px 1px 0;


        &--5 , &--10, &--15 {
            border-right: none;
        }
        &--11, &--12, &--13, &--14, &--15, &--16 {
            border-bottom: none;
        }
    }

    vertical-align: middle;
    display: inline-block;
    opacity: 0.4;
    max-height: 30px;
    max-width: 40%;
    @include media-query(palm){
        max-height: 20px;
        max-width: 60%;
    }
}

.section {
    &--start {
        @extend .text--center;
        &__ingress {
            @extend .epsilon;
            margin: 0;
        }
        &__title {
            @extend .alpha;
        }
        &__copy {
            @extend .beta;
            font-weight: 300;
            font-size: 30px;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            @media only screen and (max-width: 1180px) {
                font-size: 24px;
            }
            @include media-query(palm){
                max-width: 80%;
                font-size: 18px;
            }

        }
    }

    &--start-intro {
        position: relative;
        @extend .text--dark;
        background: white;

        &__ingress {
            padding: 0 0 60px;
            font-size: 40px;
            @media only screen and (max-width: 1220px) {
                font-size: 32px;
            }
            @include media-query(palm){
                padding: 0 0 0 0;
                font-size: 18px;
            }
        }

        &__logos {
            text-align: center;
        }

        &__logos-header {
            @extend .epsilon;
            display: none;
        }
    }

    &--start-webprod ,
    &--start-proddev {
        @extend .text--light;
        @include vhFejk(90);
        overflow: hidden;

        //fixes overflow-hidden issue in firefox
        @include transform(translate3d(0,0,0));

        position: relative;
        @include media-query(portable){
            background-image: url(/img/start/webprod/mobile-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            padding-top: 100px;
            padding-bottom: 180px;
        }
    }
    &--start-webprod {
        // position above proddev to fix overflow issue in firefox
        z-index: 9;

        @include media-query(palm){
            padding-top: 100px;
            padding-bottom: 150px;
        }
    }

    &--start-proddev {
        @include media-query(portable){
            background-image: url(/img/start/proddev/mobile-bg.jpg);
            padding-bottom: 180px;
        }
    }

    &--labs {
        background-color: $color-labs-orange;
    }

    &--start-contact {
        @extend .text--center;
        @extend .text--light;
        background-color: #252525;
        position: relative;
        z-index: 10;
    }
}
@import "sections/start-webprod-parallax";
@import "sections/start-proddev-parallax";
@import "sections/start-labs";

