.page {
    &--web-production {
        .main-header {
            @include vhFejk(50);
            background: $color-webprod-blue url(/video/bluevideo.jpg) no-repeat center center;
            background-size: cover;
        }
    }
}

.section {
    &--webprod-definition {
        background-color: white;
    }
    &--webprod-offer {
        background: $color-webprod-blue url(/img/webprod/blue-texture-retina.jpg) no-repeat top center;
        backgorund-size: cover;
        padding-top: 100px;
        min-height: 730px;
        &__illustration {
            &-wrapper {
                position: relative;
                z-index: 100;
            }
            max-width: 100% !important;
            position: static;
            // z-index: 10;
            // left: 100px;
            // top: -80px;
            &__animation {
                position: absolute;
                top: 6%;
                left: 4%;
                bottom: 23%;
                right: 4%;
                background-size: cover;
            }
        }
        @include media-query(palm) {
            min-height: 0;
            padding-bottom: 100px;
        }
    }

    &--webprod-tools {
        @include sneddisTop(-6, 240px, white);
        padding-top: 0;
        min-height: 500px;
        &__illustration {
            position: absolute;
            left: -70px;
            top: -120px;
            width: 100%;
        }
        @include media-query(palm) {
            min-height: 0;
            &:after {
                top: -70px;
            }
        }
    }

    &--webprod-contact {
        background-color: $color-webprod-blue;
        background-image: url(/img/webprod/contact-texture.jpg);
    }

    &--webprod-case {
        @include media-query(palm) {
            text-align: center;
        }
        .btn {
            @include btnColors(#333, white);
        }
        &--samsung {
            @include sneddis(-9, 380px, white);
            padding-bottom: 0;
            height: auto;
            min-height: 300px;
            display: block;
            &__illustration {
                position: absolute;
                right: 0;
                bottom: -150px;
                @include media-query(palm) {
                    position: static;
                    padding: 30px 0;
                    max-width: 80%;
                }
            }
            &:after {
                @include media-query(palm) {
                    bottom: -50px;
                }
            }
        }
        &--sj {
            padding-top: 300px;
            @include media-query(palm) {
                padding-top: 50px;
            }
            background: #f0f0f0;
            .container {
                position: relative;
                z-index: 5;
            }
        }
        &--carlsberg {

            &__illustration {
                position: absolute;
                top: -100px;
                left: -100px;

                @include media-query(palm) {
                    left: auto;
                    top: -90px;
                    right: -90px;
                    max-width: 320px !important;
                }
            }
        }
    }
    &--webprod-process {
        figure {
            position: relative;
        }
        .container {

        }
    }
}

@import "sections/webprod-timeline";
