.page {
    &--web-production {
        .main-header {
            @include vhFejk(50);
            background: $color-webprod-blue url(/video/bluevideo.jpg) no-repeat center center;
            background-size: cover;
        }
    }
}

.section {
    &--webprod-definition {
        background-color: white;
    }
    &--webprod-offer {
        background: $color-webprod-blue url(/img/webprod/blue-texture-retina.jpg) no-repeat top center;
        backgorund-size: cover;
        padding-top: 100px;
        min-height: 730px;
        &__illustration {
            &-wrapper {
                position: relative;
                z-index: 100;
            }
            max-width: 100% !important;
            position: static;
            // z-index: 10;
            // left: 100px;
            // top: -80px;
            &__animation {
                position: absolute;
                top: 6%;
                left: 4%;
                bottom: 23%;
                right: 4%;
                background-size: cover;
            }
        }
        @include media-query(palm) {
            min-height: 0;
            padding-bottom: 100px;
        }
    }

    &--webprod-tools {
        @include sneddisTop(-6, 240px, white);
        padding-top: 0;
        min-height: 500px;
        &__illustration {
            position: absolute;
            left: -70px;
            top: -120px;
            width: 100%;
        }
        @include media-query(palm) {
            min-height: 0;
            &:after {
                top: -70px;
            }
        }
    }

    &--webprod-contact {
        background-color: $color-webprod-blue;
        background-image: url(/img/webprod/contact-texture.jpg);
    }

    &--webprod-case {
        @include media-query(palm) {
            text-align: center;
        }
        .btn {
            @include btnColors(#333, white);
        }
        &--samsung {
            padding: 10px 0 60px;
            .container {
                z-index: 3;
            }
            &__illustration {
                padding-top: 140px;
                max-width: 90%;
            }

            @include media-query(palm) {
                padding-bottom: 150px;
            }
        }
        &--sj {
            @include sneddisTop(-3.5, 150px);
            padding-top: 0;
            padding-bottom: 0;
            background: #f0f0f0;
            .container {
                top: -60px;
                z-index: 3;
            }
            &__illustration {
                padding-bottom: 20px;
                max-width: 86%;
            }

            @include media-query(palm) {
                padding-top: 50px;
                padding-bottom: 35px;
            }
        }
        &--carlsberg {

            &__illustration {
                position: relative;
                right: 16%;
                max-width: 113%;
            }

            @include media-query(palm) {
                padding-top: 90px;
            }
        }
    }
    &--webprod-process {
        figure {
            position: relative;
        }
        .container {

        }
    }
}

@import "sections/webprod-timeline";
