.main-header--work {
    background: #2466bd url(/img/work/featured-bg-build.jpg) no-repeat bottom center;
    background-size: cover;
    @extend .text--light;
    .text-wrapper {
        max-width: 60%;
    }
    @include media-query(palm) {
        padding: 80px 0;
        .text-wrapper {
            max-width: 90%;
        }
    }

}


.award {
    &__number {
        color: #676767;
        font-size: 90px;
        font-weight: bold;
        @include media-query(palm) {
            font-size: 50px;
        }
    }
    &__title {
        span {
            display:none;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.case--list {
    @extend .text--light;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &__illustration {
        position: absolute;
        z-index:100;
        opacity: 0;
        @include transition(opacity 500ms ease 200ms);
    }

    &--samsung {
        background: #232120 url(/img/work/samsung-bg.jpg) no-repeat;
        padding-top: 190px;
        min-height: 660px;

        &__illustration {
            right: -650px;
            bottom: -155px;
        }
    }
    &--sj {
        background: #1d93c0 url(/img/work/sj-bg.jpg) no-repeat bottom center;
        background-size: auto;
        padding-top: 120px;
        padding-bottom: 100px;
        position: relative;
        @include sneddisTop(-4, 175px, #2e92c4);

        &:after {
            background: #2e92c4 url(/img/work/sj-blue.jpg);
        }

        &__illustration {
            left: 0;
            top: -200px;
        }
        .btn {
            @include btnColors(white, #2e92c4);
        }

    }
    &--carlsberg {
        padding: 180px 0 250px;
        background: #1c110f url(/img/work/carlsberg-bg.jpg) no-repeat center center;
        background-size: cover;
        .btn {
            @include btnColors(white, #222);
        }
    }
    &--billogram {
        @include sneddisTop(-4, 180px, #6abbb8);

        background: #6abbb8;
        min-height: 400px;
        &__illustration {
            right: 30px;
            bottom: -350px;
        }
        .btn {
            @include btnColors(white, #6abbb8);
        }
    }
}



.case--list__illustration.in-view--partial {
    @include animation(popin 300ms ease 200ms);
    opacity: 1;
}

@include keyframes(popin){
    0% {
      @include transform(scale(0));
    }
    80% {
      @include transform(scale(1.2));
    }
    100% {
      @include transform(scale(1));
    }
}

.archives {
    padding-top: 100px;
    padding-bottom: 160px;
    .grid {
        margin-top: 30px;
    }
}


.archive-case {

    display: block;
    background: #f0f0f0;
    margin-bottom: 24px;
    position: relative;
    @extend .text--center;

    &__image {
        display: block;
    }
    &__content {
        width: 100%;
        position: absolute;
        top: 30%;

        left: 0;
        z-index: 2;
        @include transition(transform 300ms ease, color 300ms ease);
    }
    .btn {
        opacity: 0;
        @include transform(translateY(-30px));
        @include transition(transform 200ms linear 200ms, opacity 300ms linear 200ms);
    }
    &__hilight {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,255,1);
        z-index: 1;
        @include transition(opacity 200ms linear);
    }

    &:hover &__content {
        color: white;
        @include transform(translateY(-30px));
        .btn {
            opacity: 1;
            @include transform(translateY(0px));
        }
    }
    &:hover &__hilight {
        opacity: 0.6;
    }
    &__title {
        @extend .gamma;
        @include media-query(palm) {
            font-size: 24px;
        }
        color: inherit;
    }
    &__tagline {
        @extend .epsilon;
        @include media-query(palm) {
        }
        color: inherit;
    }
}
