{{ template "partials/menu.html" . }}
{{ template "partials/topbar.html" . }}

<header class="main-header">
    <div class="main-header__content">
        <div class="container text--light">

            <h1 class="alpha">{{ .Title }}</h1>
            {{ if isset .Params "subtitle" }}
                <h2 class="beta">{{ .Params.subtitle }}</h2>
            {{ end }}




        </div>
    </div>
    {{ if isset .Params "video" }}
    <video width="1440" height="700" autoplay="autoplay" loop="loop" class="main-header__video">
      <source src="/video/video-test.mp4"  type="video/mp4">
    </video>
    {{ end }}
</header>

<div class="main-content">
