{{ template "partials/head.html" . }}
{{ template "partials/header.html" . }}

<section class="section section--start section--start-intro">
    <h1 class="accessibility">Agigen - Agile Generation AB</h1>
    <h2 class="accessibility">We make the web a better place</h2>

    <p class="section--start__copy beta section--start-intro__ingress">
        Agigen is a web devlopment firm based in Stockholm, Sweden.<br>
        We create beautiful <span class="color--pink">design</span>, powerful <span class="color--blue">code</span> and <span class="color--orange">cool ideas</span>.
    </p>

    <h3 class="epsilon">Friends &amp; clients</h3>

    <div class="section--start-intro__logos">

        <img src="/img/temp/logos.jpg">
        <p class="accessibility">
        Google, Samsung, Lego, McDonalds
        </p>

    </div>



</section>

<section class="section section--start section--start-webprod text--center fullwidth-case-after">
    <div class="container">

        <p class="section--start__ingress section--start-webprod__ingress epsilon">All shapes and sizes</p>
        <h2 class="alpha"><a href="/services/web-production">Web Production</a></h2>

        <div class="section--start-webprod__showcase">
            <span class="section--start-webprod__showcase__thingy">Cool shit</span>
        </div>

        <p class="section--start__copy beta">We build awesome websites for our clients. Are you in need of kickass frontend development or scalable backends you should check us out.</p>

        <a href="/services/web-production" class="btn btn--large">Learn about our process</a>
    </div>
</section>

<article class="case case--fullwidth">
    <div class="container">
        <p class="case__ingress epsilon">Recent case</p>
        <img src="/img/case/start/samsung-tab-s.png" class="case__image" width="380">
        <p class="case__headline">Displaying <strong>4954406991</strong> pixels on a 320x568px screen.</p>
        <h1 class="case__title">Samsung - You need to see this app</h1>
        <a href="/" class="case__cta btn btn--large">View case</a>
    </div>
</article>


<section class="section section--start section--start-proddev fullwidth-case-after fullwidth-case-after--start-billogram">
    <div class="container">
        <p class="section--start__ingress section--start-proddev__ingress epsilon">From idea to pixel perfect</p>
        <h2 class="alpha"><a href="/services/product-development">Product development</a></h2><br>

        <div class="section--start-proddev__showcase">
            <img src="/img/temp/eld.gif">
        </div>

        <p class="section--start__copy beta">We develop new products and services. Whether you're a established organization or a startup we'll help you out - from idea to finished product.</p>

        <a href="/services/web-production" class="btn btn--large">Learn about our process</a>

    </div>
</section>

<article class="case case--fullwidth case--fullwidth--billogram">
    <div class="container">
        <p class="case__ingress epsilon">Recent case</p>
        <img src="/img/case/start/billogram_screens.png" class="case__image" width="320">
        <p class="case__headline">Invoicing on the fly - in the cloud.</p>
        <h1 class="case__title">Billogram</h1>
        <a href="/" class="case__cta btn btn--large">View case</a>
    </div>
</article>


<section class="section section--start-contact">
    <div class="container">
        <p class="section--start__ingress section--start-contact__ingress epsilon">Let's hear your idea</p>
        <h2 class="alpha">Get in touch</h2>
        <a href="https://maps.google.com/maps?t=m&amp;q=Kaptensgatan+6%2C+Stockholm%2C+Sverige" target="_blank">Kaptensgatan 6, Stockholm</a>

        <a href="tel:+468201337" class="space-right">+46 (0)8 20 1337 </a>

        <a href="mailto:hello@agigen.se">hello@agigen.se</a>

    </div>
</section>


{{ template "partials/footer.html" . }}
{{ template "partials/foot.html" . }}
