{{ template "partials/head.html" . }}
{{ template "partials/header.html" . }}

<section class="section section--start section--start-intro">
    <h1 class="accessibility">Agigen - Agile Generation AB</h1>
    <h2 class="accessibility">We make the web a better place</h2>

    <p class="section--start__copy section--start-intro__ingress">
        Agigen is a creative web agency based in Stockholm, Sweden.<br>
        We create beautiful <span class="color--pink">design</span>, powerful <span class="color--blue">code</span> and <span class="color--orange">cool ideas</span>.
    </p>

    <h3 class="section--start-intro__logos-header">Friends &amp; clients</h3>

    <div class="container">
        <div class="section--start-intro__logos">
            <div class="section--start-intro__logo">
                <img src="/img/start/logos/logga_sj.svg" alt="Nordea">
            </div><!--
            --><div class="section--start-intro__logo">
                <img src="/img/start/logos/logga_adidas.svg" alt="Nordea">
            </div><!--
            --><div class="section--start-intro__logo">
                <img src="/img/start/logos/logga_volvo.svg" alt="Nordea">
            </div><!--
            --><div class="section--start-intro__logo">
                <img src="/img/start/logos/logga_carlsberg.svg" alt="">
            </div><!--
            --><div class="section--start-intro__logo">
                <img src="/img/start/logos/logga_google.svg" alt="">
            </div><!--
            --><div class="section--start-intro__logo">
                <img src="/img/start/logos/logga_lego.svg" alt="">
            </div><!--
            --><div class="section--start-intro__logo one-seventh">
                <img src="/img/start/logos/logga_mcdonalds.svg" alt="">
            </div><!--
            --><div class="section--start-intro__logo one-seventh">
                <img src="/img/start/logos/logga_mini.svg" alt="">
            </div><!--
            --><div class="section--start-intro__logo one-seventh">
                <img src="/img/start/logos/logga_netflix.svg" alt="">
            </div><!--
            --><div class="section--start-intro__logo one-seventh">
                <img src="/img/start/logos/logga_samsung.svg" alt="">
            </div><!--
            --><div class="section--start-intro__logo one-seventh">
                <img src="/img/start/logos/logga_sony.svg" alt="">
            </div><!--
            --><div class="section--start-intro__logo one-seventh">
                <img src="/img/start/logos/logga_vodafone.svg" alt="">
            </div><!--
            --><div class="section--start-intro__logo one-seventh">
                <img src="/img/start/logos/logga_wb.svg" alt="">
            </div>
        </div>
    </div>



</section>


<section class="section section--start section--start-webprod text--center fullwidth-case-after">
    <div class="container">

        <p class="section--start__ingress section--start-webprod__ingress epsilon">All shapes and sizes</p>
        <h2 class="alpha"><a href="/services/web-production">Web Production</a></h2>

        <div class="section--start-webprod__showcase">
            <span class="section--start-webprod__showcase__thingy">Cool shit</span>
        </div>

        <p class="section--start__copy beta">We build awesome websites for our clients. Are you in need of kickass frontend development or scalable backends you should check us out.</p>

        <a href="/services/web-production" class="btn btn--large">Learn about our process</a>
    </div>
</section>

<article class="case case--fullwidth case--fullwidth--samsung">
    <div class="container">
        <p class="case__ingress epsilon">Recent case</p>
        <img src="/img/case/start/samsung-tab-s.png" class="case__image">
        <p class="case__headline">Displaying <strong>4954406991</strong> pixels on a 320x568px screen.</p>
        <h1 class="case__title">Samsung - You need to see this app</h1>
        <a href="/work/samsung-youneedtoseethis/" class="case__cta btn btn--large">View case</a>
    </div>
</article>


<section class="section section--start section--start-proddev fullwidth-case-after fullwidth-case-after--start-billogram">
    <div class="container">
        <p class="section--start__ingress section--start-proddev__ingress epsilon">From idea to pixel perfect</p>
        <h2 class="alpha"><a href="/services/product-development">Product development</a></h2><br>

        <div class="section--start-proddev__showcase">
            <img src="/img/temp/eld.gif">
        </div>

        <p class="section--start__copy beta">We develop new products and services. Whether you're a established organization or a startup we'll help you out - from idea to finished product.</p>

        <a href="/services/product-development" class="btn btn--large">Learn about our process</a>

    </div>
</section>

<article class="case case--fullwidth case--fullwidth--billogram">
    <div class="container">
        <p class="case__ingress epsilon">Recent case</p>
        <img src="/img/case/start/billogram_screens.png" class="case__image">
        <p class="case__headline">Invoicing on the fly - in the cloud.</p>
        <h1 class="case__title">Billogram</h1>
        <a href="/work/billogram" class="case__cta btn btn--large">View case</a>
    </div>
</article>


<section class="section section--start-contact">
    <div class="container">
        <p class="section--start__ingress section--start-contact__ingress epsilon">Let's hear your idea</p>
        <h2 class="alpha">Get in touch</h2>

        {{ template "partials/contact-grid.html" . }}

    </div>
</section>


{{ template "partials/footer.html" . }}
{{ template "partials/foot.html" . }}
