{{ template "partials/head.html" . }}
{{ template "partials/header.html" . }}

<section class="section section--start section--start-intro">
    <h1 class="accessibility">Agigen - Agile Generation AB</h1>
    <h2 class="accessibility">We make the web a better place</h2>

    <p class="section--start__copy section--start-intro__ingress">
        Agigen is a creative web agency based in Stockholm, Sweden.<br>
        We create beautiful <span class="color--pink">design</span>, powerful <span class="color--blue">code</span> and <span class="color--orange">cool ideas</span>.
    </p>

    <h3 class="section--start-intro__logos-header">Friends &amp; clients</h3>


    <div class="section--start-intro__logos container">
        <img src="/img/start/logos/logga_mcdonalds.svg" alt="McDonalds" class="client-logo client-logo--mcdonalds" width="60" height="50">
        <img src="/img/start/logos/logga_lego.svg" alt="LEGO" class="client-logo client-logo--lego" width="90" height="40">
        <img src="/img/start/logos/logga_google.svg" alt="Google" class="client-logo client-logo--google" width="140" height="46">
        <img src="/img/start/logos/logga_sj.svg" alt="SJ" class="client-logo client-logo--sj" width="80" height="56">
        <img src="/img/start/logos/logga_sony.svg" alt="Sony" class="client-logo client-logo--sony" width="160" height="27">
        <img src="/img/start/logos/logga_vodafone.svg" alt="Vodafone" class="client-logo client-logo--vodafone" width="160" height="26">
        <img src="/img/start/logos/logga_wb.svg" alt="Warner Bros" class="client-logo client-logo--wb" width="50" height="60">

        <img src="/img/start/logos/logga_samsung.svg" alt="Samsung" class="client-logo client-logo--samsung" width="140" height="20">
        <img src="/img/start/logos/logga_adidas.svg" alt="Adidas" class="client-logo client-logo--adidas" width="70" height="44">
        <img src="/img/start/logos/logga_volvo.svg" alt="Volvo" class="client-logo client-logo--volvo" width="150" height="20">
        <img src="/img/start/logos/logga_carlsberg.svg" alt="Carlsberg" class="client-logo client-logo--carlsberg" width="120" height="43">
        <img src="/img/start/logos/logga_mini.svg" alt="Mini" class="client-logo client-logo--mini" width="120" height="50">
        <img src="/img/start/logos/logga_netflix.svg" alt="Netflix" class="client-logo client-logo--netflix" width="120" height="30">
    </div>

</section>


<section class="section section--start section--start-webprod text--center fullwidth-case-after animate--in-view"
ng-controller="parallaxCtrl" ng-mousemove="updateParallax($event)">

    <div class="section__content">
        <div class="container">

            <p class="section--start__ingress section--start-webprod__ingress epsilon">All shapes and sizes</p>
            <h2 class="alpha"><a href="/services/web-production">Web Production</a></h2>

            <p class="section--start__copy beta">We build awesome websites for our clients. Are you in need of kickass frontend development or scalable backends you should check us out.</p>

            <a href="/services/web-production" class="btn btn--large">Learn about our process</a>
        </div>
    </div>

    <img src="/img/start/webprod/back.png" class="lax lax--back" ng-style="{'-webkit-transform': 'scale(1.3) translate3d('+x+'%,'+y+'%,0)'}">
    <div class="lax lax--middle">
        <div class="lax__container" ng-style="{'-webkit-transform': 'translate3d('+x2+'%,'+y2+'%,0)'}">
            <a href="/work/build-with-chrome/" class="lax__link lax__link--chrome">Build with Chrome</a>
            <a href="/work/samsung-youneedtoseethis/" class="lax__link lax__link--samsung">Samsung Youneedtoseethisapp.com</a>
        </div>
    </div>
    <div class="lax lax--front">
        <img src="/img/start/webprod/front.png" ng-style="{'-webkit-transform': 'translate3d('+x3+'%,'+y3+'%,0)'}">
    </div>


</section>

<article class="case case--fullwidth case--fullwidth--samsung">
    <div class="container">
        <p class="case__ingress epsilon">Recent case</p>
        <img src="/img/case/start/samsung-tab-s.png" class="case__image">
        <p class="case__headline">Displaying <strong>4954406991</strong> pixels on a 320x568px screen.</p>
        <h1 class="case__title">Samsung - You need to see this app</h1>
        <a href="/work/samsung-youneedtoseethis/" class="case__cta btn btn--large">View case</a>
    </div>
</article>


<section class="section section--start section--start-proddev fullwidth-case-after fullwidth-case-after--start-billogram"
ng-controller="parallaxCtrl">
    <div class="container">
        <p class="section--start__ingress section--start-proddev__ingress epsilon">From idea to pixel perfect</p>
        <h2 class="alpha"><a href="/services/product-development">Product development</a></h2><br>

        <p class="section--start__copy beta">We develop new products and services. Whether you're a established organization or a startup we'll help you out - from idea to finished product.</p>

        <a href="/services/product-development" class="btn btn--large">Learn about our process</a>

    </div>
</section>

<article class="case case--fullwidth case--fullwidth--billogram">
    <div class="container">
        <p class="case__ingress epsilon">Recent case</p>
        <img src="/img/case/start/billogram_screens.png" class="case__image">
        <p class="case__headline">Invoicing on the fly - in the cloud.</p>
        <h1 class="case__title">Billogram</h1>
        <a href="/work/billogram" class="case__cta btn btn--large">View case</a>
    </div>
</article>


<section class="section section--start-contact">
    <div class="container">
        <p class="section--start__ingress section--start-contact__ingress epsilon">Let's hear your idea</p>
        <h2 class="alpha">Get in touch</h2>

        {{ template "partials/contact-grid.html" . }}

    </div>
</section>


{{ template "partials/footer.html" . }}
{{ template "partials/foot.html" . }}
