{{ partial "head.html" . }}
{{ partial "menu.html" . }}
{{ partial "topbar.html" . }}

<header class="main-header blog-post__header
{{ range .Params.categories }}
    blog-post__header--category--{{ . | urlize | lower }}
{{ end }}">
    <div class="main-header__content">
        <div class="container text--light">
            <h1 class="main-header__title--blog text-wrapper">{{ .Title }}</h1>
            <p>
                Posted {{ .Date.Format "Mon, Jan 2, 2006" }} in {{ range .Params.categories }} {{ . }} {{ end }}
            </p>
        </div>
    </div>
</header>
<div class="main-content">




<div class="content container">
    <!-- <h2 class="blog-post__title container container--tight">{{ .Title }}</h2> -->

    <article class="blog-post">
        {{ .Content }}
    </article>
</div>

<footer class="blog-post__footer">
    <div class="container container--tight">
        <div class="grid">
            <div class="grid__item one-half">
                {{if .Prev}}
                    <a class="blog-post__nav blog-post__nav--prev" href="{{.Prev.RelPermalink}}">
                        <div class="epsilon">Newer post</div>
                        <div class="blog-post__nav__imgwrapper">
                            {{ if isset .Prev.Params "list_image" }}
                                <img src="/img/blog/{{ .Prev.Params.list_image }}" class="post__image">
                            {{ else }}
                                <img src="/img/blog/general_320.jpg" class="post__image">
                            {{ end }}
                        </div>
                        <h5 class="blog-post__nav__meta">
                            {{ range .Params.categories }}
                                <span class="blog-post__nav__category--{{ . | urlize | lower }}">{{ . }}</span>
                            {{ end }}
                            {{ .Next.Date.Format "Mon, Jan 2, 2006"  }}
                        </h5>
                        <h4 class="blog-post__nav__title">{{.Prev.Title}}</h4>
                    </a>
                {{end}}
            </div><!--
            --><div class="grid__item one-half">
                {{if .Next}}
                    <a class="blog-post__nav blog-post__nav--next" href="{{.Next.RelPermalink}}">
                        <div class="epsilon">Older post</div>
                        <div class="blog-post__nav__imgwrapper">
                            {{ if isset .Next.Params "list_image" }}
                                <img src="/img/blog/{{ .Next.Params.list_image }}" class="post__image">
                            {{ else }}
                                <img src="/img/blog/general_320.jpg" class="post__image">
                            {{ end }}
                        </div>
                        <h5 class="blog-post__nav__meta">
                            {{ range .Params.categories }}
                                <span class="blog-post__nav__category--{{ . | urlize | lower }}">{{ . }}</span>
                            {{ end }}
                            {{ .Next.Date.Format "Mon, Jan 2, 2006"  }}
                        </h5>
                        <h4 class="blog-post__nav__title">{{ .Next.Title }}</h4>
                    </a>
                {{end}}
            </div>
        </div>
    </div>
</footer>

{{ partial "footer.html" . }}
{{ partial "foot.html" . }}
