{{ partial "head.html" . }}
{{ partial "menu.html" . }}
{{ partial "topbar.html" . }}

<section class="section section--404">
    <div class="section__content">
        <div class="container text--center">

            <p class="page__ingress">Not found</p>
            <h1 class="page__title">404</h1>

            <div class="fearless-panda fearless-panda--404-page-not-found">
                <img src="/img/404/fearless-redpanda.gif" class="fearless-panda__panda" alt="The fearless panda">

                <p class="gamma fearless-panda__copy">
                    Don't worry, the fearless panda will guide you back to the start.
                </p>

                <a href="/" class="btn fearless-panda__btn">Go back home</a>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
{{ partial "foot.html" . }}
