{{ template "partials/head.html" . }}
{{ template "partials/header-start.html" . }}

<section class="section section--start section--start-intro">
    <h1 class="accessibility">Agigen - Agile Generation AB</h1>
    <h2 class="accessibility">We make the web a better place</h2>

    <p class="section--start__copy section--start-intro__ingress beta">
        Agigen is a creative web agency based in Stockholm, Sweden.<br>
        We create beautiful <span class="color--pink">design</span>, powerful <span class="color--blue">code</span> and <span class="color--orange">cool ideas</span>.
    </p>

    <h3 class="section--start-intro__logos-header">Friends &amp; clients</h3>


    <div class="section--start-intro__logos container">
        <img src="/img/start/logos/logga_mcdonalds.svg" alt="McDonalds" class="client-logo client-logo--mcdonalds" width="60" height="50">
        <img src="/img/start/logos/logga_lego.svg" alt="LEGO" class="client-logo client-logo--lego" width="90" height="40">
        <img src="/img/start/logos/logga_google.svg" alt="Google" class="client-logo client-logo--google" width="140" height="46">
        <img src="/img/start/logos/logga_sj.svg" alt="SJ" class="client-logo client-logo--sj" width="80" height="56">
        <img src="/img/start/logos/logga_sony.svg" alt="Sony" class="client-logo client-logo--sony" width="160" height="27">
        <img src="/img/start/logos/logga_vodafone.svg" alt="Vodafone" class="client-logo client-logo--vodafone" width="160" height="26">
        <img src="/img/start/logos/logga_wb.svg" alt="Warner Bros" class="client-logo client-logo--wb" width="50" height="60">

        <img src="/img/start/logos/logga_samsung.svg" alt="Samsung" class="client-logo client-logo--samsung" width="140" height="20">
        <img src="/img/start/logos/logga_adidas.svg" alt="Adidas" class="client-logo client-logo--adidas" width="70" height="44">
        <img src="/img/start/logos/logga_volvo.svg" alt="Volvo" class="client-logo client-logo--volvo" width="150" height="20">
        <img src="/img/start/logos/logga_carlsberg.svg" alt="Carlsberg" class="client-logo client-logo--carlsberg" width="120" height="43">
        <img src="/img/start/logos/logga_mini.svg" alt="Mini" class="client-logo client-logo--mini" width="120" height="50">
        <img src="/img/start/logos/logga_netflix.svg" alt="Netflix" class="client-logo client-logo--netflix" width="120" height="30">
    </div>

</section>


<section class="section section--start section--start-webprod text--center animate--in-view"
ng-controller="parallaxCtrl" ng-mousemove="updateParallax($event)">

    <div class="section__content">
        <div class="container container--tight">

            <p class="section--start__ingress">All shapes and sizes</p>
            <h2 class="section--start__title"><a href="/services/web-production">Web Production</a></h2>

            <p class="section--start__copy">We build awesome websites for our clients. Are you in need of kickass frontend development or scalable backends you should check us out.</p>

            <a href="/services/web-production" class="btn btn--large">Learn about our process</a>
        </div>
    </div>

    <div class="lax lax--back">
        <img src="/img/start/webprod/back.png" ng-style="{'-webkit-transform': 'scale(1.3) translate3d('+x+'%,'+y+'%,0)'}">
    </div>
    <div class="lax lax--middle">
        <div class="lax__container" ng-style="{'transform': 'translate3d('+x2+'%,'+y2+'%,0)', '-webkit-transform': 'translate3d('+x2+'%,'+y2+'%,0)', '-moz-transform': 'translate3d('+x2+'%,'+y2+'%,0)', '-ms-transform': 'translate3d('+x2+'%,'+y2+'%,0)'}">
            <a href="/work/build-with-chrome/" class="lax__link lax__link--chrome">Build with Chrome</a>
            <a href="/work/samsung-youneedtoseethis/" class="lax__link lax__link--samsung">Samsung Youneedtoseethisapp.com</a>
        </div>
    </div>
    <div class="lax lax--front">
        <img src="/img/start/webprod/front.png" ng-style="{'-webkit-transform': 'translate3d('+x3+'%,'+y3+'%,0)'}">
    </div>


</section>

<article class="case case--fullwidth case--fullwidth--samsung">
    <div class="container">
        <p class="case__ingress epsilon">Recent case</p>
        <img src="/img/case/start/samsung-tab-s.png" class="case__image">
        <p class="case__headline">Displaying <strong>4954406991</strong> pixels on a 320x568px screen.</p>
        <h1 class="case__title">Samsung - You need to see this app</h1>
        <a href="/work/samsung-youneedtoseethis/" class="case__cta btn btn--large">View case</a>
    </div>
</article>


<section class="section section--start section--start-proddev animate--in-view"
ng-controller="parallaxCtrl" ng-mousemove="updateParallax($event)">
    <div class="section__content">
        <div class="container container--tight">
            <p class="section--start__ingress">From idea to pixel perfect</p>
            <h2 class="section--start__title"><a href="/services/product-development">Product development</a></h2><br>

            <p class="section--start__copy">We develop new products and services. Whether you're a established organization or a startup we'll help you out - from idea to finished product.</p>

            <a href="/services/product-development" class="btn btn--large">Learn about our process</a>
        </div>
    </div>



    <div class="lax lax--back">
        <img src="/img/start/proddev/prod-back.png" ng-style="{'transform': 'scale(1.3) translate3d('+x+'%,'+y+'%,0)', '-webkit-transform': 'scale(1.3) translate3d('+x+'%,'+y+'%,0)', '-moz-transform': 'scale(1.3) translate3d('+x+'%,'+y+'%,0)', '-ms-transform': 'scale(1.3) translate3d('+x+'%,'+y+'%,0)'}">
    </div>
    <div class="lax lax--middle">
        <div class="lax__container" ng-style="{'transform': 'translate3d('+x2+'%,'+y2+'%,0)', '-webkit-transform': 'translate3d('+x2+'%,'+y2+'%,0)', '-moz-transform': 'translate3d('+x2+'%,'+y2+'%,0)', '-ms-transform': 'translate3d('+x2+'%,'+y2+'%,0)'}">
            <a href="/work/billogram/" class="lax__link lax__link--billogram">
                <img src="/img/start/proddev/billogram-wires.png" class="lax__link__img lax__link__img--standard">
                <img src="/img/start/proddev/billogram-color.png" class="lax__link__img lax__link__img--hover">
            </a>
            <a href="/work/yogobe/" class="lax__link lax__link--yogobe">
                <img src="/img/start/proddev/yogobe-wires.png" class="lax__link__img lax__link__img--standard">
                <img src="/img/start/proddev/yogobe-color.png" class="lax__link__img lax__link__img--hover">
            </a>
        </div>
    </div>
    <div class="lax lax--front">
        <img src="/img/start/proddev/prod-front.png" ng-style="{'transform': 'translate3d('+x3+'%,'+y3+'%,0)', '-webkit-transform': 'translate3d('+x3+'%,'+y3+'%,0)', '-moz-transform': 'translate3d('+x3+'%,'+y3+'%,0)', '-ms-transform': 'translate3d('+x3+'%,'+y3+'%,0)'}">
    </div>

</section>

<article class="case case--fullwidth case--fullwidth--billogram">
    <div class="container">
        <p class="case__ingress epsilon">Recent case</p>
        <img src="/img/case/start/billogram_screens.png" class="case__image">
        <p class="case__headline">Invoicing on the fly - in the cloud.</p>
        <h1 class="case__title">Billogram</h1>
        <a href="/work/billogram" class="case__cta btn btn--large">View case</a>
    </div>
</article>

<section class="section section--labs text--light">
    <div class="container text--center">
        <h2 class="section--start__title">Labs</h2>
        <p class="delta">Our playground where we try out new tech and broaden our expertise.</p>
        <a href="/services/labs" class="btn btn--large">Get inspired</a>


        <div class="computer" ng-controller="chatCtrl" ng-class="{'computer--connected': connected}">
            <label class="screen" for="screen-input">
                <ul class="screen__lines">
                    <li class="screen__line" ng-repeat="message in messages track by $index">{{"{{"}} message {{"}}"}}</li>
                </ul>
                <form ng-submit="send()">
                    <input type="text" value="" id="screen-input" class="screen__input" ng-model="message" ng-readonly="messages.length==2" ng-keydown="keyDown()" autocomplete="off">
                </form>
            </label>


        </div>
    </div>
</section>

<section class="section section--start-contact">
    <div class="container">
        <p class="section--start__ingress section--start-contact__ingress ">Let's hear your idea</p>
        <h2 class="alpha">Get in touch</h2>

        {{ template "partials/contact-grid.html" . }}

    </div>
</section>


{{ template "partials/footer.html" . }}
{{ template "partials/foot.html" . }}
