.page--work {
    &--big-blog-exchange {
        .main-header {
            background-color: #3d2550;
            background-image: url(/img/work/case/bigblog/asset_header.jpg);
        }
    }
}

.content--page-work  {

    .work__section--bigblog--three-points {
        background: #ff6c00;
    }
    .work__section--bigblog--the-exchange {
        background: #e02560;
    }
}
