.page--work {
    &--billogram {
        .main-header {
            background-color: #6abbb8;
        }
    }
}

.content--page-work  {

    .work__section--billogram--three-points {
        background: #6abbb8;
    }
    .work-video--billogram {
        background-color: #6abbb8;
        background-image: url(/img/work/case/billogram/video-bg.jpg);
    }
    .work__section--billogram--grandfinale {
        background: #6abbb8 url(/img/work/case/billogram/billogramteam-bg.jpg) no-repeat top center;
    }
}
