.page--work--build-with-chrome {
    .main-header {
        background: #2466bd url(/img/work/case/build/buildwithchrome-bg.jpg) no-repeat bottom center;
        background-size: cover;
    }
}

.content--page-work {

    .work__section {
        &--build {
            &--three-points {
                background: #226ABB;
            }


            &--green,
            &--red,
            &--explore {
                margin-top: 100px;
                padding: 140px 0;
                @include media-query(palm){
                    padding: 60px 0;
                    margin-top: 60px;
                }
                position: relative;
                &:before {
                    content: " ";
                    width: 174px;
                    height: 209px;
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: -130px;
                    margin-left: -87px;
                    background: transparent url(/img/work/case/build/build-retina.png) no-repeat top center;
                    background-size: 174px 209px;
                    @include media-query(palm){
                        width: 87px;
                        height: 105px;
                        top: -65px;
                        margin-left: -43.5px;
                        background-size: 87px 105px;
                    }
                }
            }

            &--green {
                background: #2f9d60 url(/img/work/case/build/build-bg-tile.jpg) repeat center center;
            }

            &--red {
                margin-top: 200px;
                @include media-query(palm){
                    margin-top: 50px;
                }
                background: #d63d3d url(/img/work/case/build/academy-bg.jpg) repeat center center;
                &:before {
                    height: 269px;
                    background-image: url(/img/work/case/build/academy-retina.png);
                    background-size: 174px 269px;
                    top: -190px;
                    @include media-query(palm){
                        height: 135px;
                        background-size: 87px 135px;
                        top: -95px;
                    }
                }
            }

            &--explore {
                &:before {
                    background-image: url(/img/work/case/build/explore-retina.png);
                }
                background: #4F81ED url(/img/work/case/build/blue-sky.jpg) no-repeat top center;
                background-size: cover;
            }

            &--black {
                background: #333;
            }

            &--grandfinale {
                background: #222 url(/img/work/case/build/legomovie.jpg) no-repeat center center;
                background-size: cover;
            }
        }
    }

}
