.page--work {
    &--ericsson-city-index {
        .main-header {
            background-color: #3d65af;
            background-image: url(/img/work/case/ericsson/asset_headerbg.jpg);
            background-position: center center;
        }
    }
}
.content--page-work {
    .work__section--ericsson--three-points {
        @include linear-gradient(left, #493b83 0%, #35539b 50%, #2569ad 100%);
    }
    .work__section--ericsson--grandfinale {
        @include linear-gradient(left, #493b83 0%, #35539b 50%, #2569ad 100%);
    }
}
