.page--work {
    &--the-hobbit-2 {
        .main-header {
            background-color: #2d3339;
            background-image: url(/img/work/case/hobbit/asset_headerbg.jpg);
        }
    }
}
.content--page-work {
    .work__header-image--hobbit {
        margin-top: -135px;
    }


    .work__section--hobbit {
        &--awards {

        }
        &--three-points {
            background: #454e58;
        }
        &--grandfinale {
            background: #151d23 url(/img/work/case/hobbit/asset_grandfinale.jpg) no-repeat top center;
        }
        &__divider {
            height: 250px;
            background: #3E4E4D url(/img/work/case/hobbit/asset_divider.jpg) no-repeat top center;
            background-size: cover;
            margin-bottom: 120px;
            &__image {
                margin: 0 auto;
                position: relative;
                top: -70px;
            }
        }
    }

    .work-video--hobbit {
        background-image: url(/img/work/case/hobbit/asset_moviebg.jpg);
    }

}
