.page--work {
    &--goget {
        .main-header {
            background-color: #f0c70d;
            background-image: url(/img/work/case/mcdonalds/top-bg.jpg);
        }
    }
}

.content--page-work  {
    .work__header-image--mcdonalds {
        max-width: 460px;

        @media only screen and (max-width: 1180px) {
            max-width: 46%;
        }
    }

    .work__section--mcdonalds--three-points {
        background: #1a7944;
    }
    .work-video--mcdonalds {
        background-color: #4ebaa0;
        .work-video__content {
            padding: 140px 0;
        }
        background-image: url(/img/work/case/mcdonalds/video-bg.jpg);
    }
    .work__section--mcdonalds--grandfinale {
        background-color: #f5c018;
        background-image: url(/img/work/case/mcdonalds/trivia-bg.jpg);

    }

}
