.page--work--agigen-chat {
    .main-header {
        background: $color-labs-orange url(/img/work/case/slack/pattern-repeat-xy-light.png) repeat top center;
    }
    .main-content {
        a {
            font-weight: bold;
            &:hover {
                color: black;
            }
        }
    }
    .work__header-image {
        max-width: 300px;
    }
}


.image-wrapper--slack.image-wrapper--strikethrough {
    &:before {
        background: $color-labs-orange url(/img/work/case/slack/pattern-repeat-xy.png) repeat center center;
        @include transform(translateY(-40%));
        max-height: 60%;
    }
}

.image-wrapper--slack-city.image-wrapper--strikethrough {
    &:before {
        height: 340px;
        background: #fcfcfc url(/img/work/case/slack/asset_stockholm_long.jpg) no-repeat top center;
        background-size: cover;
        @include transform(translateY(-51.25%));
    }
}

.tweet {
    &--slack {
        .slack-logo {
            display: block;
            margin: 100px auto 30px;
        }
        figcaption {
            font-weight: bold;
        }
    }

    .emoji {
        display: inline;
        height: 1em;
    }

    time {
        display: block;
        padding-top: 30px;
        font-size: 16px;
        color: #676767;
    }

    .twitter-logo {
        display: block;
        margin: 20px auto 0;
    }
}


.slack-case-map {
    @include media-query(lap-and-up) {
        height: 700px;
        position: relative;
    }
    @include media-query(lap) {
        height: 500px;
    }
    #slack-map {
        width: 100%;
        height: 100%;
    }
    &__overlay {
        position: absolute;
        top: 0;
        pointer-events: none;
        width: 100%;
    }
    &__popup {
        padding: 15px 20px;
        background: rgba(255,255,255,.5);
        margin: 30px 0 0 0;
        border-radius: 5px;
        display: inline-block;
        float: right;
        font-size: 14px;
        color: #666;
        min-width: 170px;
        text-align: center;
    }

    .slack-map--mobile {
        li {
            font-size: 10px;
            float: left;
            color: #666;
        }
        ul {
            list-style-type: none;
            @include clearfix();
            margin: 0;
        }
    }
}


.content--page-work {
    .work__section {
        &--slack {
            &--grandfinale {
                background: #222 url(/img/work/case/slack/egor.jpg) no-repeat center center;
                background-size: cover;
            }
        }
    }
}

