.page--work {
    &--uppsalastudent {
        .main-header {
            background: #3d2550;
            background-image: url(/img/work/case/uppsalastudent/uppsala-bg.jpg);
        }
    }
}

.content--page-work  {
    .work__header-image--uppsalastudent {
        max-width: 680px;

        @media only screen and (max-width: 1180px) {
            max-width: 68%;
        }
    }
    .work__divider--uppsalastudent {
        background: #f8f8f6 url(/img/work/case/uppsalastudent/objects-bg-tile.jpg) repeat top center;
        height: 400px;
        &__image {
            position: relative;
            top: -30px;
            z-index: 10;
        }
        margin-bottom: 100px;
    }

    .work__section--uppsalastudent--three-points {
        background: #434343;
    }
    .work__section--uppsalastudent--grandfinale {
        background-color: #d78404;
        background-image: url(/img/work/case/uppsalastudent/trivia-bg.jpg);
    }
}
