.contactways {
    color: #656565;
    text-align: left;
    text-align: center;

    padding: 30px 0 0;
    @include media-query(palm){
        padding: 0;
    }
    margin: 0;
    dt, dd {
        // padding: 0;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    &__label {
        text-transform: uppercase;
        padding-top: 30px;
        font-size: 16px;
        font-weight: bold;
        &--left {
            text-align: right;
            text-align: center;
        }
    }
    &__action {
        &--left {
            text-align: right;
            text-align: center;

        }
        font-weight: 300;
        font-size: 40px;
        color: #33cbff;

        @include media-query(palm){
            font-size: 30px;
        }
        a {
            color: #33cbff;
        }
    }

}
