.contactways {
    color: #656565;
    text-align: left;
    text-align: center;

    padding: 30px 0 0;
    @include media-query(palm){
        padding: 0;
    }
    margin: 0;
    dt, dd {
        // padding: 0;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    &__label {
        text-transform: uppercase;
        padding-top: 30px;
        font-weight: bold;
        color: #656565 !important;

        &--left {
            text-align: right;
            text-align: center;
        }
    }
    &__action {
        &--left {
            text-align: right;
            text-align: center;

        }
        color: #33cbff !important;
        a {
            font-weight: 300 !important;
            color: #33cbff;
            &:hover {
                text-decoration: underline;
            }
        }
    }

}
