.section--labs {
    @include transition(height 500ms ease);
    height: 580px;

    &-connected {
        @include transition(height 500ms ease);
        height: 1000px;
    }

    @include media-query(palm) {
        height: 340px;
        background: $color-labs-orange url(/img/start/labs/datta.png) no-repeat center 280px;
        background-size: 178px 177px;
    }
    padding: 60px 0 0;
    position: relative;
    .container {
        height: 100%;
        position: relative;
    }
}

.computer {
    text-align: left;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 702px;
    margin-left: -351px;
    height: 706px;
    background: transparent url(/img/start/labs/datta-slacklogo-retina.png) no-repeat top left;
    background-size: 702px 706px;
    @include transform(translateY(440px));
    @include transition(transform 500ms ease);
    &--connected {
        @include transform(translateY(0));
    }
    @media only screen and (max-width: 640px) {
        display: none;
    }

}
.screen {
    position: absolute;
    font-family: monospace;
    padding-top: 150px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 220px;
    top: 0;
    left: 0;
    color: #0f0;
    display: block;
    width: 100%;
    height: 100%;
    &__lines {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    &__line {
        padding: 0;
        margin: 0;
        &:before {
            content: "> ";
        }
    }
    &__input {
        width: 90%;
        color: #0f0;
        outline: none;
        background: transparent;
        border: none;
        cursor: none;

        color: transparent;
        text-shadow: 0 0 0 #0f0;
    }

    &__cursor {
        display: block;
        position: absolute;
        width: 14px;
        height: 20px;
        background: #0f0;
        top: 169px;
        left: 136px;
        @include animation(cursorblink 500ms steps(5, start) infinite)
    }
}

@include keyframes(cursorblink) {
    to { visibility: hidden; }
}


