.case--fullwidth--samsung ,
.section--start-intro {
    z-index: 10;
}

$front-scale: 1.8;
$middle-scale: 1.3;
$chrome-rotate: -8deg;
$samsung-rotate: 14deg;

.section--start-webprod {
    @extend .bgcolor--blue;

    .container {
        position: relative;
        z-index: 50;
        pointer-events: none;
    }
    .btn {
        pointer-events: auto;
        opacity: 0;
        @include btnColors(white, $color-webprod-blue);
        @include transform(translateY(-80px));

        @include transition(all 250ms ease, opacity 250ms ease-out 1100ms);

        &:hover {

        }
    }
}

.lax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include transform(scale($middle-scale));


    &--back {
        pointer-events: none;
        z-index: 5;
    }
    &--middle {
        z-index: 10;
    }
    &--front {
        z-index: 20;
        pointer-events: none;
        @include transform(scale($front-scale));
    }

    @include transform-origin(center center);
    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__link {
        overflow: hidden;
        text-indent: -1000px;
        text-align: left;
        position: absolute;
        background: transparent url() no-repeat top left;
        &--chrome {
            width: 419px;
            width: 210px;
            height: 800px;
            height: 400px;
            top: 30%;
            right: 15%;
            @include transform(rotate($chrome-rotate));
            background-image: url(/img/start/webprod/chrome-start.png);
            background-size: cover;
            &:hover {
                @include animation(pulsateChrome 1800ms $ease-in-out-sine);
            }
        }
        &--samsung {
            width: 555px;
            height: 900px;
            width: 234px;
            height: 384px;
            top: 24%;
            left: 15%;
            @include transform(rotate($samsung-rotate));
            &:hover {
                @include animation(pulsateSamsung 1800ms $ease-in-out-sine);
            }
            background-image: url(/img/start/webprod/samsung-start.png);
            background-size: cover;
        }

        &:hover {
            @include animation-iteration-count(infinite);
        }
    }


    img {
        pointer-events: none;
        max-width: none;
        width: auto;
        height: 100%;
    }
}

.in-view--partial {

    .container {
        opacity: 1;
    }

    .falldown {
        @include transform(translateY(0));
    }

    .btn {
        @include transform(translateY(0));
        opacity: 1;
    }
    .lax {
        @include transform-origin(center center);

        &--front  { @include animation(laxInFront 1500ms $ease-out-back);}
        &--middle { @include animation(laxIn 1500ms $ease-out-back 250ms);}
        &--back   { @include animation(laxIn 1500ms $ease-out-back 500ms);}
    }
}

@include keyframes(laxIn) {
    from {
        @include transform(scale(0));
    }
    to {
        @include transform(scale($middle-scale));
    }
}

@include keyframes(laxInFront) {
    from {
        @include transform(scale(0));
    }
    to {
        @include transform(scale($front-scale));
    }
}
@include keyframes(pulsateSamsung){
    0%,100% {
        @include transform(scale(1) rotate($samsung-rotate));
    }
    50% {
        @include transform(scale(1.05) rotate($samsung-rotate));
    }
}
@include keyframes(pulsateChrome){
    0%,100% {
        @include transform(scale(1) rotate($chrome-rotate));
    }
    50% {
        @include transform(scale(1.05) rotate($chrome-rotate));
    }
}
